{% macro greatDetails(params) %}
    <details {%- if params.id %} id="{{ params.id }}"{% endif %} class="govuk-details {%- if params.classes %} {{ params.classes }}{% endif %}"{{- " open" if params.open }}>
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            {{ params.summaryHtml | safe if params.summaryHtml else params.summaryText }}
            </span>
        </summary>
        <div class="govuk-details__text">
            {{ params.detailsHtml | safe if params.detailsHtml else params.detailsText }}
        </div>
    </details>
{% endmacro %}