<div>
    <details {%- if id %} id="{{ id }}"{% endif %} class="govuk-details {%- if classes %} {{ classes }}{% endif %}"
    {{- " open" if open }}>
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
        {{ summaryHtml | safe | trim | indent(6) if summaryHtml else summaryText }}
        </span>
    </summary>
    <div class="govuk-details__text">
        {{ detailsHtml | safe if detailsHtml else detailsText }}
    </div>
    </details>
</div>