{% macro greatDetails(id, classes, open, summaryText, summaryHtml, detailsText, detailsHtml) %}
    <details {% if id %} id="{{ id }}"{% endif %} class="govuk-details {% if classes %} {{ classes }}{% endif %}"{% if open %} open{% endif %}>
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                {% if summaryHtml %}{{ summaryHtml | safe }}{% else %}{{ summaryText }}{% endif %}
            </span>
        </summary>
        <div class="govuk-details__text">
            {% if detailsHtml %}{{ detailsHtml | safe }}{% else %}{{ detailsText }}{% endif %}
        </div>
    </details>
{% endmacro %}