.great-ds-pagination--numbered {
    @include govuk-media-query($until: tablet) {
        align-items: flex-start;

        .great-ds-pagination__page-summary-container--numbered, 
        .govuk-pagination__prev,
        .govuk-pagination__next {
            width: 100%;
            border-bottom: 1px solid $great-ds-semantic-border-default-light-grey-border;
        }
    }   
}

.great-ds-pagination--paged {
    max-width: 810px;
}

.great-ds-pagination--bg-blue {
    background-color: $great-ds-semantic-surface-background-light-blue;
}

.great-ds-pagination__hover--white:not(.govuk-pagination__item--current) {
    &:hover {
        background-color: $great-ds-semantic-surface-background-white;
    }
}

.great-ds-pagination__hover--blue:not(.govuk-pagination__item--current) {
    &:hover {
        background-color: $great-ds-semantic-surface-background-light-blue;
    }
}

.great-ds-pagination__page-summary-container--numbered {
    display: none;
    @include govuk-media-query($until: tablet) {
        display:flex;
    }
}

.great-ds-pagination__page-summary--numbered {
    color: var(--Semantic-Text-Default-Secondary-text, #505A5F);
    padding-left: 30px;
}

.great-ds-pagination__list-container--numbered {
    display: flex;
    @include govuk-media-query($until: tablet) {
        display: none; 
    }
}

.great-ds-pagination__next--numbered {
    @include govuk-media-query($until: tablet) {
        padding-left: 0;
        padding-right: 0px;
        flex-direction: row;
        display: flex;
    }
}

.great-ds-pagination__prev {
    @include govuk-media-query($until: tablet) {
        padding-right: 0px;
    }
}

.great-ds-pagination__next-link--numbered {
    @include govuk-media-query($until: tablet) {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: flex-end;
    }
}

.great-ds-pagination__icon--prev {
    height: 16px;
    width: 16px;
}

.great-ds-pagination__icon--next {
    height: 16px;
    width: 16px;
    @include govuk-media-query($until: tablet) {
        margin-right: 15px;
        margin-left: 0px
    }
}
