{% macro greatPagedPagination(previousPageTitle, previousPageLink, nextPageTitle, nextPageLink, hoverClass) %}
    <nav class="govuk-pagination govuk-pagination--block great-ds-pagination--paged" aria-label="Pagination">
        {% if previousPageTitle and previousPageLink %}
            <div class="govuk-pagination__prev {% if hoverClass %} {{ hoverClass }} {% endif %}">
                <a class="govuk-link govuk-pagination__link" href="{{ previousPageLink }}" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev great-ds-pagination__icon--prev" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <path d="M9.24833 2.1001L8.5562 1.40746C8.26314 1.11418 7.78925 1.11418 7.49931 1.40746L1.43855 7.4696C1.14548 7.76288 1.14548 8.23712 1.43855 8.52728L7.49931 14.5925C7.79237 14.8858 8.26626 14.8858 8.5562 14.5925L9.24833 13.8999C9.54451 13.6035 9.53827 13.1199 9.23586 12.8297L5.47906 9.248H14.4393C14.8539 9.248 15.1875 8.91416 15.1875 8.4992V7.5008C15.1875 7.08584 14.8539 6.752 14.4393 6.752H5.47906L9.23586 3.17025C9.54139 2.88009 9.54762 2.3965 9.24833 2.1001Z" fill="#505A5F"/>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">{{ previousPageTitle }}</span>
                </a>
            </div>
        {% endif %}
        {% if nextPageTitle and nextPageLink %}
            <div class="govuk-pagination__next {% if hoverClass %} {{ hoverClass }} {% endif %}">
                <a class="govuk-link govuk-pagination__link" href="{{ nextPageLink }}" rel="next">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next great-ds-pagination__icon--next" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                        <path d="M7.15792 2.1001L7.85005 1.40746C8.14311 1.11418 8.617 1.11418 8.90694 1.40746L14.9677 7.4696C15.2608 7.76288 15.2608 8.23712 14.9677 8.52728L8.90694 14.5925C8.61388 14.8858 8.13999 14.8858 7.85005 14.5925L7.15792 13.8999C6.86174 13.6035 6.86798 13.1199 7.17039 12.8297L10.9272 9.248H1.96699C1.55234 9.248 1.21875 8.91416 1.21875 8.4992V7.5008C1.21875 7.08584 1.55234 6.752 1.96699 6.752H10.9272L7.17039 3.17025C6.86486 2.88009 6.85863 2.3965 7.15792 2.1001Z" fill="#505A5F"/>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <span class="govuk-visually-hidden">:</span>
                    <span class="govuk-pagination__link-label">{{ nextPageTitle }}</span>
                </a>
            </div>
        {% endif %}
    </nav>
{% endmacro %}