{% from "../input/_input.njk" import greatInput %}
{% from "../label/_label.njk" import greatLabel %}

{% macro greatAutocomplete(id, classes, label, hint, placeholder, labelClasses, suggestions, jsonData) %}
   <div id="great-ds-autocomplete" class="great-ds-autocomplete{% if classes %}{{ classes }}{% endif %}" {% if jsonData %}data-json='{{ jsonData | dump}}'{% endif %}>
      {{ greatInput(   
          classes="great-ds-autocomplete__input",
          id="great-ds-autocomplete__input",
          label=label,
          hint=hint,
          type="text",
          placeholder=placeholder,
          labelClasses=labelClasses,
          attributes="data-great-ds-autocomplete-input",
          autocomplete="off"
      ) }}
      <div id="great-ds-autocomplete__results" class="great-ds-autocomplete__results" {% if not suggestions %}hidden{% endif %} data-great-ds-autocomplete-results>
        {% if suggestions %}
        <ul class="great-ds-autocomplete__results-list">
            {% for suggestion in suggestions %}
            <li class="great-ds-autocomplete__results-item">
                {{ greatLabel(
                    class="great-ds-autocomplete__results-item-label",
                    text=suggestion.label
                )}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
      </div>
  </div>
{% endmacro %}