{% extends "layout/_example.njk" %}

{% block content %}

{% from "../../../components/card/_card.njk" import greatCard %}

<div class="great-ds-card-container">

    {{ greatCard(
        href= "#",
        type="unmounted",
        title= "The title of the card",
        description= "Organised by the Manufacturing Technologies Association, MACH connects UK manufacturing engineers, decision makers, buyers and specifiers with suppliers of new technology, equipment, services and processes. Held every 2 years.",
        id= "card-1",
        classes="great-ds-card--full",
        locationIcon=true,
        subText= "Coventry and Warwickshire, Midlands of England",
        tags=[
            {
                text: "Food and drink",
                type: "sector"
            },
            {
                text: "Coventry and Warwickshire",
                type: "location"
            }
        ]
    ) }}

    {{ greatCard(
        href= "#",
        type="unmounted",
        title= "The title of the card",
        description= "Organised by the Manufacturing Technologies Association, MACH connects UK manufacturing engineers, decision makers, buyers and specifiers with suppliers of new technology, equipment, services and processes. Held every 2 years.",
        date= "29", 
        month= "Apr",
        id= "card-2",
        classes="great-ds-card--full",
        locationIcon=true,
        subText= "Coventry and Warwickshire, Midlands of England",
        tags=[
            {
                text: "Food and drink",
                type: "sector"
            }
        ]
    ) }}
</div>

{% endblock %}
