{% extends "layout/_example.njk" %}

{% block content %}

{% from "../../../components/card/_card.njk" import greatCard %}

<div class="great-ds-card-container">

    {{ greatCard(
        classes= "great-ds-card--5",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-2"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--5",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-3"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--5",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-2"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--5",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-3"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--5",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-3"
    ) }}
</div>

<div class="great-ds-card-container">
    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        hideArrow= true,
        title= "The title of the card",
        id= "card-4"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        hideArrow= true,
        title= "The title of the card",
        id= "card-5"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        hideArrow= true,
        title= "The title of the card",
        id= "card-6"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        hideArrow= true,
        title= "The title of the card",
        id= "card-7"
    ) }}

</div>
<div class="great-ds-card-container">
    {{ greatCard(
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-4"
    ) }}

    {{ greatCard(
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-5"
    ) }}

    {{ greatCard(
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-6"
    ) }}

    {{ greatCard(
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-7"
    ) }}

</div>


<div class="great-ds-card-container">
    {{ greatCard(
        classes= "great-ds-card--3",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-1",
        metadataIconType="guidance",
        metadataText="Guidance",
        metaDataIconPath="/static/icons"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--3 great-ds-card--mounted-blue",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        titleSize= "m",
        description= "The card description.",
        id= "card-2"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--3 great-ds-card--unmounted",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        titleSize= "l",
        description= "The card description.",
        id= "card-3"
    ) }}
</div>
<div class="great-ds-card-container">

    {{ greatCard(
        classes= "great-ds-card--2 great-ds-card--elevated",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-2"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--2 great-ds-card--elevated",
        href= "#",
        imageUrl= "/static/images/card-image-example1.png",
        title= "The title of the card",
        description= "The card description.",
        id= "card-3"
    ) }}
</div>


{% endblock %}
