{% extends "layout/_example.njk" %}

{% block content %}

{% from "../../../components/card/_card.njk" import greatCard %}

<div class="great-ds-card-container">
    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-4"
    ) }}

    {{ greatCard(
        classes= "great-ds-card--elevated",
        href= "#",
        iconSvg= "/static/icons/chat.svg",
        title= "The title of the card",
        id= "card-5"
    ) }}

</div>

{% endblock %}
