{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Card{% endblock %}

{% block content %}
    Here is a card.
    {% exampleIframe "/components/card/card-example/" %}
    
{% endblock %}
