{% from "../error-message/_error-message.njk" import greatErrorMessage %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}
{% from "./_input-element.njk" import greatInputElement %}
{% from "./_input-affix.njk" import greatInputAffix %}
{% from "../autocomplete/_autocomplete.njk" import greatAutocomplete %}

{% macro greatInput(id, name, type, classes, label, hint, errorMessage, spellcheck, value, disabled, autocomplete, pattern, inputmode, prefix, suffix, formGroupClasses, beforeInput, afterInput, attributes, placeholder, noFormGroup, autocompleteSuggestions) %}
  {% if not noFormGroup %}
  <div class="great-form-group{% if errorMessage or errorMessage.html %} great-form-group--error{% endif %}{% if formGroupClasses %} {{ formGroupClasses }}{% endif %}">
  {% endif %}

  {% if label %}
    {{ greatLabel(
      text=label.text,
      html=label.html,
      classes=label.classes,
      for=id,
      isPageHeading=label.isPageHeading
    ) }}
  {% endif %}

  {% if hint %}
    {{ greatHint(
      id=id|add('-hint'),
      classes=hint.classes,
      html=hint.html,
      text=hint.text
    ) }}
  {% endif %}

  {% if errorMessage %}
    {{ greatErrorMessage(
      id=id|add('-error'),
      classes=errorMessage.classes,
      visuallyHiddenText=errorMessage.visuallyHiddenText,
      html=errorMessage.html,
      text=errorMessage.text,
      for=errorMessage.for
    ) }}
  {% endif %}

  {% if beforeInput or prefix or suffix or afterInput or autocomplete %}
    <div class="great-input__wrapper">
      {% if beforeInput %}
        {% if beforeInput.html %}{{ beforeInput.html|safe }}{% else %}{{ beforeInput.text }}{% endif %}
      {% endif %}
      
      {% if prefix %}
        {{ greatInputAffix(prefix="prefix", type="prefix") }}
      {% endif %}
  {% endif %}

  {{ greatInputElement(
    id=id,
    name=name,
    type=type,
    classes=classes,
    errorMessage=errorMessage,
    spellcheck=spellcheck,
    value=value,
    disabled=disabled,
    describedBy=describedBy,
    autocomplete=autocomplete,
    pattern=pattern,
    inputmode=inputmode,
    attributes=attributes,
    placeholder=placeholder
  ) }}

  {% if autocomplete %}
  {{ greatAutocomplete(
    id=id, 
    classes=classes, 
    suggestions=autocompleteSuggestions
  ) }}
  {% endif %}

  {% if beforeInput or prefix or suffix or afterInput or autocomplete %}
      {% if suffix %}
        {{ greatInputAffix(suffix="suffix", type="suffix") }}
      {% endif %}

      {% if afterInput %}
        {% if afterInput.html %}{{ afterInput.html|safe }}{% else %}{{ afterInput.text }}{% endif %}
      {% endif %}
    </div>
  {% endif %}

  {% if not noFormGroup %}
  </div>
  {% endif %}
{% endmacro %}