.great-ds-text-input--search {
    height: 56px;
    padding-left: 10px;
    border-color: $great-ds-semantic-surface-background-primary !important;

    &:focus {
        padding: 5px 5px 5px 10px !important;
        border-width: 2px !important;
        border-color: $great-ds-semantic-surface-background-great-blue !important;
        color: inherit !important;
        z-index: 2;
    }
}

.great-ds-text-input--autocomplete {
    @extend .great-ds-text-input--search;
    padding-left: 45px;
    border-color: $great-ds-semantic-border-default-input-border !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='great-ds-icon-svg' width='20' height='20' viewBox='0 0 18 18' fill='%23222'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.77589 13.722C6.26697 13.8589 4.79933 13.386 3.64011 12.4016C1.2472 10.3681 0.933108 6.74217 2.94069 4.31856C4.06024 2.96784 5.66793 2.27198 7.28695 2.27198C8.57164 2.27198 9.86443 2.7113 10.9249 3.61205C12.0841 4.59641 12.7949 5.97992 12.9268 7.50687C13.0588 9.03299 12.5957 10.5206 11.6235 11.6943C10.6505 12.868 9.28401 13.5884 7.77589 13.722ZM18 15.5071L13.5606 11.7361C14.3256 10.4247 14.6737 8.91169 14.5393 7.36344C14.3702 5.40128 13.4562 3.62271 11.9651 2.35558C8.88816 -0.258992 4.28286 0.148357 1.70133 3.26536C-0.881003 6.38072 -0.477867 11.0427 2.59908 13.6573C3.92344 14.7826 5.56107 15.3834 7.26914 15.3834C7.48447 15.3834 7.70061 15.3744 7.91756 15.3555C9.44591 15.2203 10.8569 14.6097 11.9999 13.6196L16.4385 17.3914L18 15.5071Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left 15px;
    background-size: 20px;

    &:focus {
        padding-left: 45px !important;
    }
}

// TODO: Remove !important when styles are removed from great-cms
