$temp-interface-blue-55: #353566; // TODO fetch from figma api (getting 403)

.great-ds-bgs-footer {
    background-color: $great-ds-semantic-surface-background-great-ds-blue;
  }
  
  .great-ds-bgs-footer__container {
    justify-content: center;
    display: flex;
    > div { // great-ds-container div
      width:100%;
    }
  }
  
  .great-ds-footer__sections-container {
    flex-direction: column;
    display: flex;

  }

  .great-ds-bgs-footer__section {
    display: flex;
    flex-direction: column;
    @include govuk-media-query($from: 769px) {
      flex-direction: row;
      gap: $great-ds-spacing-6-large;
      padding-bottom: $great-ds-spacing-7-large !important;
      padding-top: $great-ds-spacing-6-large !important;
    }

    &--upper {
      border-bottom: 0;
      @include govuk-media-query($from: 769px) {
        border-bottom: 2px solid $temp-interface-blue-55;
      }
    }

    &--lower {
      padding-bottom: $great-ds-spacing-8;
      padding-top: $great-ds-spacing-8;
  }
}

  .great-ds-bgs-footer__subsection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include govuk-media-query($from: 769px) {
      padding-bottom: 0 !important;
      padding-top: 0 !important;
      width: 25%;
      gap: 10px;
    }

    &--upper {
      padding-bottom: $great-ds-spacing-8;
      padding-top: $great-ds-spacing-8;
      border-bottom: 2px solid $temp-interface-blue-55;
        @include govuk-media-query($from: 769px) {
          border-bottom: 0;
        }
    }

    &--lower {
      padding-top: 0;
      padding-bottom: 10px;
      &:not(:last-child) {
        padding-bottom: 20px
      };
    }
  }
  
  
  .great-ds-bgs-footer__link-list {
    padding-inline-start: 0px;
    display: inline-flex;
    gap: $great-ds-spacing-4;
    flex-wrap: wrap;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
  }
  .great-ds-bgs-footer__link-list-item {
    width: 100%;
    @include govuk-media-query($from: 769px) {
      width: auto;
    }     
  }

  .great-ds-bgs-footer__link {
    text-decoration-line: underline;
    text-decoration-thickness: 5%;
    text-underline-offset: 3px;
    cursor: pointer;
    color: $great-ds-semantic-surface-background-white;

    &:hover {
      text-decoration-thickness: 10%;
    }

    &:focus,
    &:focus:active {
        @include govuk-focused-text;
    }

    &--heading {
      @extend .govuk-heading-m;
      width: fit-content;
      margin-bottom: $great-ds-spacing-2;
      font-weight: 600;
      text-decoration-skip-ink: none;
      text-underline-offset: 9.5%;
      text-underline-position: from-font;
    }
  }
  
  .great-ds-bgs-footer__copyright-container {
    background-color: $great-ds-semantic-surface-background-white;
    display: flex;
    padding-top: $great-ds-spacing-4;
    padding-bottom: $great-ds-spacing-4;
    @include govuk-media-query($from: 769px) {
      padding-top: 0;
      padding-bottom: 0;
    }

    div {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: $great-ds-spacing-4;
  
      @include govuk-media-query($from: 769px) {
        flex-direction: row;
        align-items: center;
      }
    }
  }
  
  .great-ds-bgs-footer__copyright {
    font-size: $great-ds-type-size-body;
    margin: 0;
  }
  
  .great-ds-bgs-footer__logo-link {
    &:focus, &:focus:active {
      outline: none;
      background: none;
      .great-ds-bgs-footer__gov-logo {
        @include govuk-focused-text;
        box-shadow: inset 0px -4px 0px $great-ds-semantic-border-focus-button-border;
      }

      > * .great-ds-bgs-footer__gov-logo-ribbon {
        fill: $great-ds-semantic-border-focus-link-border;
      }
    }
  
    &:hover:not(:focus){
      box-shadow: inset 0px -4px 0px $great-ds-semantic-surface-background-great-ds-red;
    }
  }
  
  .great-ds-bgs-footer__gov-logo {
    box-sizing: content-box;
    height: 30px;
    width: 184px;
    padding: 10px 0 5px;
    margin: 5px 0;
  } 