.great-ds-cta_banner--bg-light-blue{
  background-color: $great-ds-semantic-surface-background-light-blue
}

.great-ds-cta_banner--bg-dark-blue {
  background-color: govuk-colour("dark-blue");
}

.great-ds-cta_banner--bg-green {
  background-color: $great-ds-semantic-surface-background-light-green;
}

.great-ds-cta_banner-heading {
  font-weight: 600;
  line-height: $great-ds-type-line-height-heading-l-large;

  .great-ds-cta_banner--bg-dark-blue & {
    color: $great-ds-semantic-text-default-white-text;
  }
  .great-ds-cta_banner--bg-green & {
    color: $great-ds-semantic-text-default-text;
  }
}


.great-ds-cta_banner-leading-text {
  .great-ds-cta_banner--bg-dark-blue & {
    color: $great-ds-semantic-text-default-white-text;
  }
  .great-ds-cta_banner--bg-green & {
    color: $great-ds-semantic-text-default-text;
  }
}

.great-ds-cta_banner-signup-link-text {
  .great-ds-cta_banner--bg-dark-blue & {
    color: $great-ds-semantic-text-default-white-text;
  }
  .great-ds-cta_banner--bg-green & {
    color: $great-ds-semantic-text-default-text;
  }
}

.great-ds-cta_banner-signup-link { // TODO: Duplicate govuk-link and govuk-link-no-visited-state somewhere?
  .great-ds-cta_banner--bg-dark-blue & {
    color: $great-ds-semantic-text-default-white-text;
  }
  .great-ds-cta_banner--bg-green & {
    color: $great-ds-semantic-text-default-text;
  }
}

.great-ds-cta_banner__tick-list {
    list-style: none;
    padding-inline-start: 0px;
}

.great-ds-cta_banner__tick-list-item {
  display: block;
  clear: left;
  padding: 7.5px 0;

  &:before {
    content: '';
    height: 30px;
    width: 30px;
    min-width: 30px;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background: url('/static/icons/blue-tick.svg');
    background-size: cover;
    background-position: center;
  }

  .great-ds-cta_banner--bg-dark-blue & {
    color: $great-ds-semantic-text-default-white-text;

    &:before{
      background: url('/static/icons/red-tick.svg');
    }
  }

  .great-ds-cta_banner--bg-green & {
    color: $great-ds-semantic-text-default-text;

    &:before{
      background: url('/static/icons/dark-blue-tick.svg');
    }
  }
}

.great-ds-cta_banner__link-button-chevron {
  svg {
    position: relative;
    top: 2px;
  }

  &:hover,
  &:focus {
    path {
      fill: $govuk-brand-colour;
    }
  }
}
