{% from "../button/_button.njk" import greatButton %}
{% from "./_responsive_image.njk" import greatResponsiveImage %}

{% macro greatCtaBanner(params) %}
    <div class="{% if bg_class %}{{ bg_class }}{% else %}great-bg-white{% endif %}">
        <div class="great-container govuk-!-padding-top-7">
            <div class="govuk-grid-row great-promo">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">{{ params.headingText}}</h2>
                    {% if params.leadingText %}
                        <p class="govuk-body">{{ params.leadingText }}</p>
                    {% endif %}
                    {% if params.listItems %}
                        <ul class="great-list-blue-tick govuk-!-margin-bottom-5">
                            {% for item in params.listItems %}
                                <li> {{ item }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {{ greatButton({ text: "Sign up to get started", href: "#", classes: "great-button--cta", cta: true }) }}
                    {% if params.signUpLink %} 
                        <p class="govuk-body govuk-!-margin-bottom-9">
                            {{ params.signUpLink.preLinkText }} <a href="{{ params.signUpLink.href }}" class="govuk-link govuk-link--no-visited-state">{{ params.signUpLink.linkText }}</a>
                        </p>
                    {% endif %}
                </div>
                <div class="govuk-grid-column-one-half">
                    {{ greatResponsiveImage({
                            image_src: '/static/images/lte-signup-promo-landscape.png',
                            xs_image_src: '/static/images/lte-signup-promo-landscape.png',
                            s_image_src: '/static/images/lte-signup-promo-landscape.png',
                            m_image_src: '/static/images/lte-signup-promo-portrait.png',
                            l_image_src: '/static/images/lte-signup-promo-portrait.png',
                            xl_image_src: '/static/images/lte-signup-promo-landscape.png'
                    })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}