{% macro greatResponsiveImage(params) %}
<picture class="great-picture {% if params.classes %}{{ params.classes }}{% endif %}">
    {% if params.xl_image_src %}<source srcset="{{ params.xl_image_src }}" media="(min-width: 1231px)" />{% endif %}
    {% if params.l_image_src %}
        <source srcset="{{ params.l_image_src }}"
                media="(min-width: 770px) and (max-width: 1230px)" />
    {% endif %}
    {% if params.m_image_src %}
        <source srcset="{{ params.m_image_src }}"
                media="(min-width: 642px) and (max-width: 769px)" />
    {% endif %}
    {% if params.s_image_src %}
        <source srcset="{{ params.s_image_src }}"
                media="(min-width: 321px) and (max-width: 641px)" />
    {% endif %}
    {% if params.xs_image_src %}<source srcset="{{ params.xs_image_src }}" media="(max-width: 320px)" />{% endif %}
    <img src="{{ params.image_src }}"
         alt="{% if params.alt_text %}{{ params.alt_text }}{% endif %}"
         loading="lazy"
         decoding="async" />
</picture>
{% endmacro %}