---
navTitle: "Exporter"
tags: content
status: draft
---
{% extends "layout/_content.njk" %}
{% block title %}Great Design System - Guidance{% endblock %}

{% block content %}
    <section>
        <h2 class="govuk-heading-l">{{navTitle}}</h2>
        <p class="govuk-body-s">{{status}}</p>
        <p class="govuk-body">Domestically we refer to exporters of products as exporters. For service industry companies we refer to them as companies operating internationally.</p>
    </section>
{% endblock %}
