// Link styles
a {
    color: $great-ds-semantic-text-default-link;
}

@mixin great-ds-link-decorator() {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: .3em;
}

@mixin great-ds-link() { // TODO move into own component when prioritised
    @include great-ds-link-decorator;
    &:hover {
        color: $great-ds-semantic-text-hover-link;
    }
    &:focus {
        @include govuk-focused-text;
    }
}

@mixin great-ds-link-no-decorator() { // TODO move into own component when prioritised
    text-decoration: none;
    &:hover {
        color: $great-ds-semantic-text-hover-link;
        @include great-ds-link-decorator;
    }
    &:focus {
        @include govuk-focused-text;
    }
}
