// Typography variables
$great-ds-type-family-great: "Noto Sans", arial, sans-serif !default;
$great-ds-type-family-great-ds-bold: "Noto SemiBold", arial, sans-serif !default;
$great-ds-type-family-great-ds-international: "Euclid Flex Regular", arial, sans-serif !default;
$great-ds-type-family-great-ds-international-medium: "Euclid Flex Medium", arial, sans-serif !default;
$great-ds-type-family-great-ds-international-bold: "Euclid Flex Bold", arial, sans-serif !default;
