{% extends "layout/_example.njk" %}
{% from "../../../components/header/_header.njk" import greatHeader %}

{% block content %}
    {{ greatHeader(
        isInternational=true,
        hideSearch=true,
        mastheadUrl="#",
        hideMenuOnDesktop=true,
        domesticLink={ href: "#", text: "For UK businesses" },
        internationalLink={ href: "#", text: "For international businesses" },
        searchFormAction="#",
        navItemsList=[
            { href: "#", text: "Expand your business" },
            { href: "#", text: "Investment opportunities"},
            { href: "#", text: "Buy from the UK" }
        ],
        subnavItemsList=[
            { href: "#", text: "UK nations and regions" },
            { href: "#", text: "Sectors" },
            { href: "#", text: "Find opportunities" }
        ],
        menuItemsList=[
            { href: "#", text: "Expand your business" },
            { href: "#", text: "Investment opportunities"},
            { href: "#", text: "Buy from the UK" }
        ]
    ) }}
{% endblock %}
