{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Header{% endblock %}

{% block content %}
    <p class="govuk-body">Here is a header example.</p>
    {% exampleIframe "/components/header/header-example/" %}
{% endblock %}
