{% macro greatButton(href, input, text, classes, id, html, type, name, disabled, preventDoubleClick, value, attributes, iconPrefix, iconSuffix, isInternational) %}
    {% if href %}
        <a href="{{ href }}"
            role="button"
            draggable="false"
            class="great-ds-button{% if classes %} {{ classes }}{% endif %}{% if isInternational %} great-ds-button--international{% endif %}"
            data-module="great-ds-button"
            {% if attributes %}{{ attributes | safe }}{% endif %}
            {% if id %} id="{{ id }}" {% endif %}>
            {% if html %}{{ html | safe }}{% else %}{{ text }}{% endif %}
        </a>
    {% elif input %}
        <input
            value="{{ text }}"
            type="{% if type %}{{ type }}{% else %}input{% endif %}"
            class="great-ds-button{% if classes %} {{ classes }}{% endif %}{% if isInternational %} great-ds-button--international{% endif %}"
            data-module="great-ds-button"
            {% if attributes %}{{ attributes | safe }}{% endif %}
            {% if id %} id="{{ id }}" {% endif %}
            {% if name %} name="{{ name }}" {% endif %}
            {% if disabled %} disabled aria-disabled="true" {% endif %}
            {% if preventDoubleClick is not none %} data-prevent-double-click="{{ preventDoubleClick }}" {% endif %}>
    {% else %}
        <button
            {% if value %} value="{{ value }}" {% endif %}
            type="{% if type %}{{ type }}{% else %}submit{% endif %}"
            class="great-ds-button{% if classes %} {{ classes }}{% endif %}{% if isInternational %} great-ds-button--international{% endif %}"
            data-module="great-ds-button"
            {% if id %} id="{{ id }}" {% endif %}
            {% if attributes %}{{ attributes | safe }}{% endif %}
            {% if name %} name="{{ name }}" {% endif %}
            {% if disabled %} disabled aria-disabled="true" {% endif %}
            {% if preventDoubleClick is not none %} data-prevent-double-click="{{ preventDoubleClick }}" {% endif %}>
            {% if iconPrefix %}{{ iconPrefix | safe }}{% endif %}
            {% if html %}{{ html | safe }}{% endif %}
            {% if text %} 
                <span class="great-ds-button__text">
                    {{ text }}
                </span>
            {% endif %}
            {% if iconSuffix %}{{ iconSuffix | safe }}{% endif %}
        </button>
    {% endif %}
{% endmacro %}
