---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: File upload
  parent: Components
  title: File upload
isGovUk: true
---
{% markdown %}
# File upload

Use the file upload component to allow users to upload files.

{% endmarkdown %}

{% exampleWithCode "/components/file-upload/file-upload-example/", "file-upload-example", "100%", "100%" %}
