---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Summary list
  parent: Components
  title: Summary list
isGovUk: true
---
{% markdown %}
# Summary list

{% endmarkdown %}

{% exampleWithCode "/components/summary-list/summary-list-example/", "summary-list-example", "100%", "400px" %}

{% exampleWithCode "/components/summary-list/summary-list-card-example/", "summary-list-card-example", "100%", "400px" %}
