{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/back-link/_back-link.njk" import greatBackLink %}

    {{ greatBackLink(
        linkHref = "#",
        linkClass = '',
        backLinkText = ''
    ) }}
{% endblock %}
