{% from "../_label.njk" import greatLabel %}
{% from "../_hint.njk" import greatHint %}
{% from "./_attrs.njk" import greatAttrs %}

{% macro greatTextarea(widget) %}

  {% set field = widget.field %}
  {% set error = field.error %}
  {% set field_group_class = field.field_group_class %}
  {% set label = field.label %}
  {% set hint = field.hint %}
  {% set attrs = widget.attrs %}
  {% set name = widget.name %}
  {% set value = widget.value %}
  {% set type = widget.type %}
  {% set class = attrs.class %}


<div class="govuk-form-group{% if error %} great-form-group--error{% endif %}{% if field_group_class %} {{ field_group_class }}{% endif %}">
  
  {% if label %}
    {{ greatLabel(
      text=label.text,
      html=label.html,
      class=label.class,
      for=label.id,
      isPageHeading=label.isPageHeading
    ) }}
  {% endif %}

  {% if hint %}
    {{ greatHint(
      id=hint.id|add('-hint'),
      classes=hint.class,
      html=hint.html,
      text=hint.text
    ) }}
  {% endif %}


  <textarea 
  class="govuk-textarea{% if class %} {{ class }}{% endif %}{% if error %} govuk-textarea--error{% endif %}"
  name="{{ name }}"

  {{ greatAttrs(
    attrs=attrs
  ) }}

  >{% if value %}{{ value }}{% endif %}</textarea>

</div>
{% endmacro %}