---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Call To Action Banner
  parent: Components
  title: Call To Action Banner
  synonyms:
    - cta
    - full width banner
    - banner
    - promo banner
status: 
  - Live
---
{% markdown %}
# Call To Action Banner

Here is a Call To Action Banner example.

Uses our own design.
{% endmarkdown %}

{% exampleWithCode "/components/cta-banner/cta-banner-example-default/", "cta-banner-example-default", "100%", "600px" %}
{% exampleWithCode "/components/cta-banner/cta-banner-example-green/", "cta-banner-example-green", "100%", "600px" %}
{% exampleWithCode "/components/cta-banner/cta-banner-example-dark-blue/", "cta-banner-example-dark-blue", "100%", "600px" %}
{% exampleWithCode "/components/cta-banner/cta-banner-example-no-links/", "cta-banner-example-no-links", "100%", "300px"  %}
{% exampleWithCode "/components/cta-banner/cta-banner-example-no-links-dark-blue/", "cta-banner-example-no-links-dark-blue", "100%", "300px"  %}
