{% extends "layout/_example.njk" %}

{% block content %}
    {% set breadcrumbsData = {
        collapseOnMobile: true,
        itemsList: [
            { url: '/', title: 'Home' },
            { url: '/page2', title: 'Page 2' },
            { url: '/page3', title: 'Page 3' }
        ]
    } %}

    {{ "breadcrumbs" | component(breadcrumbsData) }}
{% endblock %}
