---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Breadcrumbs
  parent: Components
  title: Breadcrumbs
isGovUk: true
status: Live
---
{% markdown %}
# Breadcrumbs

The breadcrumbs component helps users to understand where they are within a website’s structure so they can easily move between levels. 
{% endmarkdown %}

{% exampleWithCode "/components/breadcrumbs/breadcrumbs-example/", "breadcrumbs", "100%", "90px" %}


{% markdown %}
## When to use 

Use the breadcrumbs component when you need to help users understand and move between the multiple levels of a website. 

 
## When not to use 

Do not use the breadcrumbs component on websites with a flat structure or to show progress through a linear journey or transaction. 

If you’re using other navigational elements on the page, such as a sidebar, consider whether your users need the additional support of breadcrumbs. 

 
## How it works 

Always place breadcrumbs at the top of a page, before the `<main>` element. Placing them here means that the ‘Skip to main content’ link allows the user to skip all navigation links, including breadcrumbs. 

The breadcrumbs should start with your ‘home’ page and end with the parent section of the current page. 

If you are using Django, you can use the Django macro. Similarly, if you are using Nunjucks, you can use the Nunjucks macro. You can also use the HTML directly but this is not recommended as updates to the component could make your code difficult to maintain.

### Collapsing breadcrumbs on mobile devices 

If you have long breadcrumbs, you can configure the component to only show the first and last items on mobile devices. 

To do this, add `collapseOnMobile: true` to the configuration.

{% endmarkdown %}

{% exampleWithCode "/components/breadcrumbs/breadcrumbs-collapse-example/", "breadcrumbs", "100%", "90px" %}


{% markdown %}
### Accessibility 

Make sure no other interactive elements are too close to the breadcrumbs. This is to make sure users can easily interact with the breadcrumbs. 


{% endmarkdown %}

