{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Breadcrumbs{% endblock %}

{% block content %}
    <p class="govuk-body">Here is a breadcrumbs example.</p>
    {% exampleIframe "/components/breadcrumbs/breadcrumbs-example/" %}
{% endblock %}
