{% from "../error-message/_error-message.njk" import greatErrorMessage %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}

{% macro greatCharacterCount(id, name, rows, classes, label, hint, errorMessage, spellcheck, value, disabled, maxlength, maxwords, threshold, textareaDescriptionText, countMessageClasses, formGroupClasses, beforeInput, afterInput, attributes) %}
<div class="govuk-form-group govuk-character-count{% if errorMessage %} govuk-form-group--error{% endif %}{% if formGroupClasses %} {{ formGroupClasses }}{% endif %}"
  data-module="govuk-character-count"
  {% if maxwords %}data-maxwords="{{ maxwords }}"{% endif %}
  {% if maxlength %}data-maxlength="{{ maxlength }}"{% endif %}
  {% if threshold %}data-threshold="{{ threshold }}"{% endif %}>

  {% if label %}
    {{ greatLabel(
      text=label.text,
      html=label.html,
      classes=label.classes,
      for=id,
      isPageHeading=label.isPageHeading
    ) }}
  {% endif %}

  {% if hint %}
    {% set hintId = id + '-hint' %}
    {% set describedBy = hintId %}
    {{ greatHint(
      id=hintId,
      classes=hint.classes,
      html=hint.html,
      text=hint.text
    ) }}
  {% endif %}

  {% if errorMessage %}
    {% set errorId = id + '-error' %}
    {% if describedBy %}
      {% set describedBy = describedBy + ' ' + errorId %}
    {% else %}
      {% set describedBy = errorId %}
    {% endif %}
    {{ greatErrorMessage(
      id=errorId,
      classes=errorMessage.classes,
      visuallyHiddenText=errorMessage.visuallyHiddenText,
      html=errorMessage.html,
      text=errorMessage.text
    ) }}
  {% endif %}

  <div class="govuk-textarea__wrapper">
    {% if beforeInput %}
      {% if beforeInput.html %}
        {{ beforeInput.html|safe }}
      {% else %}
        {{ beforeInput.text }}
      {% endif %}
    {% endif %}

    <textarea 
      class="govuk-textarea govuk-js-character-count{% if classes %} {{ classes }}{% endif %}{% if errorMessage %} govuk-textarea--error{% endif %}"
      id="{{ id }}"
      name="{{ name }}"
      rows="{% if rows %}{{ rows }}{% else %}5{% endif %}"
      {% if spellcheck %}spellcheck="{{ spellcheck }}"{% endif %}
      {% if disabled %}disabled{% endif %}
      {% if describedBy %}aria-describedby="{{ describedBy }}"{% endif %}
      {% if attributes %}{{ attributes|safe }}{% endif %}
    >{{ value }}</textarea>

    {% if maxwords %}
      {{ greatHint(
        id=id + '-info',
        classes='govuk-character-count__message',
        text='You can enter up to ' + maxwords + ' words'
      ) }}
    {% endif %}

    {% if maxlength %}
      {{ greatHint(
        id=id + '-info',
        classes='govuk-character-count__message',
        text='You can enter up to ' + maxlength + ' characters'
      ) }}
    {% endif %}

    {% if afterInput %}
      {% if afterInput.html %}
        {{ afterInput.html|safe }}
      {% else %}
        {{ afterInput.text }}
      {% endif %}
    {% endif %}
  </div>
</div>
{% endmacro %}