---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Form radios
  parent: Components
  title: Form radios
isGovUk: true
---
{% markdown %}
# Form radios

The radio component is used to allow users to select only one option. 
{% endmarkdown %}

{% exampleWithCode "/components/form-radio-input/form-radio-input-example/", "form-radio-input", "100%", "100%" %}

