{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}

{% block content %}
    {{ greatHero(
        heroClasses = 'great-ds-hero--small-image',
        heroHeading = 'This is a heading',
        heroDescription = 'Description of the hero component, which can be used to provide a bit more information to the user.',
        svgImagePath = '../hero/_export_academy_logo.njk',
        actionLinkUrl = '/',
        actionLinkText = 'go here!'
    ) }}
{% endblock %}
