{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}
{% from "../../../components/hero/_doc_hero_image.njk" import greatDocHeroImage %}

{% block content %}
    {{ greatHero(
        heroCaption = 'Captioning',
        heroClass = 'great-ds-hero--large-image--cropping',
        heroHeading = 'This is a heading',
        heroDescription = 'Description describing our hero component in heroicly described detail. Description describing our hero component in heroicly described detail detail details Description describing our hero component in heroicly described detail',
        heroImage = greatDocHeroImage(),
        actionLinkUrl = '/',
        actionLinkText = 'go here!', 
        showBoxShadow = 'true'
    ) }}
{% endblock %}
