{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}

{% block content %}
    {{ greatHero(
        classes = 'great-ds-hero--large-image-scaling',
        heading = 'This is a heading',
        description = 'Description of the hero component, which can be used to provide a bit more information to the user.',
        svgImagePath = '../hero/_doc_hero_image.njk',
        actionLinkUrl = '/',
        actionLinkText = 'go here!'
    ) }}
{% endblock %}
