{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}

{% block content %}
    {{ greatHero(
        heroCaption = 'Captioning',
        heroClasses = 'great-ds-hero--large-image-cropping great-ds-hero--box-shadow',
        heroHeading = 'This is a heading',
        heroDescription = 'Description of the hero component, which can be used to provide a bit more information to the user.',
        svgImagePath = '../hero/_doc_hero_image.njk',
        actionLinkUrl = '/',
        actionLinkText = 'go here!', 
        actionLinkClass = 'great-ds-action-link--white'
    ) }}
{% endblock %}
