{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}

{% block content %}
    {{ greatHero(
        caption = 'Captioning',
        classes = 'great-ds-hero--large-image-cropping great-ds-hero--box-shadow',
        heading = 'This is a heading',
        aboveCtaText = 'Description of the hero component, which can be used to provide a bit more information to the user.',
        belowCtaHtml = "<p> Trailing text for a final <a href ='/'> link </p>",
        pngImagePath ='../../static/images/lte-signup-promo-portrait.png',
        actionLinkUrl = '/',
        actionLinkText = 'go here!', 
        actionLinkClass = ''
    ) }}
{% endblock %}
