{% extends "layout/_example.njk" %}

{% from "../../../components/hero/_hero.njk" import greatHero %}

{% block content %}
    {{ greatHero(
        classes='great-ds-hero--image-only',
        pngImagePath='../../static/images/tropical-hero-image.png',
        pngImageAlt='A tropical beach scene'
    ) }}
{% endblock %}
