{% macro greatBackLink(linkHref,linkClass,backLinkText) %}
<a href= "{{ linkHref }}" class= "govuk-back-link{% if linkClass %} {{ linkClass }}{% endif %}">
    {% if backLinkText %}
        {{ backLinkText }}
    {% else %}
        Back
    {% endif %}
</a>
{% endmacro %}
