{% from "../label/_label.njk" import greatLabel %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../input/_input-element.njk" import greatInputElement %}

{% macro greatDateInput(id, name, classes, label, hint, errorMessage, dayWidth, monthWidth, yearWidth) %}
  <div class="govuk-form-group govuk-grid-column-two-thirds{% if errorMessage %} govuk-form-group--error{% endif %}{% if classes %} {{ classes }}{% endif %}" 
    {% if id %}id="{{ id }}"{% endif %}
    {% if name %}name="{{ name }}"{% endif %}
  >
    {% if label %}
      {{ greatLabel(
        text=label.text, 
        html=label.html, 
        classes=label.classes,
        for=id,
        isPageHeading=label.isPageHeading
      ) }}
    {% endif %}

    {% if hint %}
      {% set hintId = id + '-hint' %}
      {% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
      {{ greatHint(
        id=hintId,
        classes=hint.classes,
        html=hint.html,
        text=hint.text
      ) }}
    {% endif %}

    {% if errorMessage %}
      {% set errorId = id + '-error' %}
      {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
      {{ greatErrorMessage(
        id=errorId,
        classes=errorMessage.classes,
        visuallyHiddenText=errorMessage.visuallyHiddenText,
        html=errorMessage.html,
        text=errorMessage.text
      ) }}
    {% endif %}

    <div class="govuk-date-input">
      {% set dayInputBoxId = id + '-day' %}
      {% set monthInputBoxId = id + '-month' %}
      {% set yearInputBoxId = id + '-year' %}
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          {{ greatLabel(
            text="Day",
            classes="govuk-date-input__label",
            for=dayInputBoxId
          ) }}
          {{ greatInputElement(
              id="great-ds-input--input",
              classes="govuk-input--width-" + dayWidth,
              id=dayInputBoxId,
              name=name + "-day",
              type="text",
              inputmode="numeric"
          ) }}
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          {{ greatLabel(
            text="Month",
            classes="govuk-date-input__label",
            for=monthInputBoxId
          ) }}
          {{ greatInputElement(
              id="great-ds-input--input",
              classes="govuk-input--width-" + monthWidth,
              id=monthInputBoxId,
              name=name + "-month",
              type="text",
              inputmode="numeric"
          ) }}
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          {{ greatLabel(
            text="Year",
            classes="govuk-date-input__label",
            for=yearInputBoxId
          ) }}
          {{ greatInputElement(
              id="great-ds-input--input",
              classes="govuk-input--width-" + yearWidth,
              id=yearInputBoxId,
              name=name + "-year",
              type="text",
              inputmode="numeric"
          ) }}
        </div>
      </div>
    </div>
  </div>
{% endmacro %}