{% from "../header-bgs/_header-bgs-masthead-logo.njk" import greatMastheadLogo %}
{% macro greatBGSFooter(currentYear, upperFooterSection, lowerFooterSection) %}
    <footer id="footer"
        dir="ltr"
        data-ga-section="footer"
        class="great-ds-footer-bgs">
        <div class="great-ds-footer-bgs__container">
            <div class="great-ds-container">
                <div class='great-ds-footer__sections-container'>
                    {% if upperFooterSection %}
                        <div class="great-ds-footer-bgs__section great-ds-footer-bgs__section--upper">
                            {% for footerSubSection in upperFooterSection %}
                                <div class="great-ds-footer-bgs__subsection great-ds-footer-bgs__subsection--upper{% if upperFooterSection|length < 4 %} great-ds-footer-bgs__subsection--third{% endif %}">
                                    <ul class="great-ds-footer-bgs__link-list">
                                        {% for link in footerSubSection %}     
                                            <li class="great-ds-footer-bgs__link-list-item">
                                                <a class="great-ds-footer-bgs__link{% if link.isHeading %} great-ds-footer-bgs__link--heading {% endif %}"
                                                href="{{ link.href }}"
                                                title="{{ link.title }}"
                                                {% if link.target %} target="{{ link.target }}" {% endif %}
                                                {% if link.rel %} rel="{{ link.rel }}" {% endif %} >
                                                {{ link.text }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if lowerFooterSection %}
                        <div class="great-ds-footer-bgs__section great-ds-footer-bgs__section--lower">
                            {% for footerSubSection in lowerFooterSection %}
                                <div class="great-ds-footer-bgs__subsection great-ds-footer-bgs__subsection--lower{% if lowerFooterSection|length < 4 %} great-ds-footer-bgs__subsection--third{% endif %}">
                                    <ul class="great-ds-footer-bgs__link-list">
                                    {% for link in footerSubSection %}     
                                        <li class="great-ds-footer-bgs__link-list-item">
                                            <a class="great-ds-footer-bgs__link{% if link.isHeading %} great-ds-footer-bgs__link--heading {% endif %}"
                                            href="{{ link.href }}"
                                            title="{{ link.title }}"
                                            {% if link.target %} target="{{ link.target }}" {% endif %}
                                            {% if link.rel %} rel="{{ link.rel }}" {% endif %} >
                                            {{ link.text }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="great-ds-footer-bgs__copyright-container">
            <div class="great-ds-container">     
                {{ greatMastheadLogo() }}
                <p class="great-ds-footer-bgs__copyright">© Crown copyright {{ currentYear }}. All rights reserved.</p>
            </div>
    </div>
    </footer>
{% endmacro %}