body {
    font-family: $great-type-family-great;
    font-size: $great-type-size-body;
    color: $great-semantic-text-default-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $great-type-family-great;
    font-weight: $great-type-weight-semi-bold;
}