$great-ds-type-family-great: "Noto Sans", arial, sans-serif !default;
$great-ds-type-family-great-ds-bold: "Noto SemiBold", arial, sans-serif !default;
$great-ds-type-family-great-ds-international: "Euclid Flex Regular", arial, sans-serif !default;
$great-ds-type-family-great-ds-international-medium: "Euclid Flex Medium", arial, sans-serif !default;
$great-ds-type-family-great-ds-international-bold: "Euclid Flex Bold", arial, sans-serif !default;

body {
    font-family: $great-ds-type-family-great;
    color: $great-ds-semantic-text-default-text;
    @include govuk-font-size($size: 18);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $great-ds-type-family-great-ds-bold;
}

p, dl {
    @include govuk-font-size($size: 18);
    margin: 0 0 $great-ds-spacing-6;
}

ul, ol {
    @extend .govuk-list;
    @include govuk-font-size($size: 18);
}

ul { 
    @extend .govuk-list--bullet; 
}

ol { 
    @extend .govuk-list--number; 
}

a {
    color: $great-ds-semantic-text-default-link;
}