body {
    font-family: $great-type-family-domestic;
    font-size: $great-type-size-body;
    color: $great-colour-interface-text-black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $great-type-family-domestic;
    font-weight: $great-type-weight-semi-bold;
}