.great-ds-text-input--search {
    height: 58px;
    padding-left: 10px;
    border-color: $great-ds-semantic-surface-background-great-ds-blue;

    &:focus {
        padding: 5px 5px 5px 10px !important;
        border-width: 2px !important;
        border-color: $great-ds-semantic-surface-background-great-ds-blue !important;
        color: inherit !important;
        z-index: 2;
    }
}

// TODO: Remove !important when styles are removed from great-cms