{% macro textInput(id, label, labelClasses, classes, placeholder, attributes, name="q", type="text") %}
<label for="{{ id }}" class="{{ labelClasses }}">{{ label }}</label>
<input 
    id="{{ id }}" 
    class="great-ds-text-input govuk-input {{ classes }}" 
    type="{{ type }}" 
    name="{{ name }}" 
    placeholder="{{ placeholder }}"
    {% if attributes %}
        {{ attributes }}
    {% endif %}
>
{% endmacro %}
