{% macro greatFieldsetOpen(id, name, legend, classes) %} 
<fieldset class="govuk-fieldset {% if classes %}{{ classes }}{% endif %}" id="{{ id }}" aria-describedby="{{ name }}-hint"> 
{% if legend %} 
    <legend class="govuk-fieldset__legend {% if legend.classes %} {{ legend.classes }}{% endif %}">
    {% if legend.isPageHeading %}
        <h1 class="govuk-fieldset__heading">
            {{ legend.text }}
        </h1>
    {% else %}  
        {{ legend.text }}
    {% endif %} 
    </legend>   
{% endif %} 

{% endmacro %}