{% macro greatAttrsDjango(attrs) %}
{% for name, value in attrs %}
    {% if value != false %}{{ name }}{% if value != true %}="{{ value | string }}"{% endif %}{% endif %}
{% endfor %}
{% endmacro %}
