{% from "./_attrs.njk" import greatAttrsDjango %}

{% macro greatHiddenInputDjango(widget) %}
<input class="govuk-input{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}" type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value | string }}"{% endif %}

{{ greatAttrsDjango(
  attrs=widget.attrs
) }}
>
{% endmacro %}