{% from "./_label.njk" import greatLabel %}
{% from "./_hint.njk" import greatHint %}
{% from "./_attrs.njk" import greatAttrs %}

{% macro greatInput(field, widget) %}

 <div class="{%if field.hide_on_page_load %}hide-on-page-load {% endif %}govuk-form-group{% if field.error %} great-form-group--error{% endif %}{% if field.field_group_class %} {{ field.field_group_class }}{% endif %}">
  
  {% if field.gds_mapping.label %}
    {{ greatLabel(
      label=field.gds_mapping.label
    ) }}
  {% endif %}

  {% if field.gds_mapping.hint %}
    {{ greatHint(
      hint=field.gds_mapping.hint
    ) }}
  {% endif %}

  <input class="govuk-input{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}{% if field.error %} govuk-input--error{% endif %}" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value | string }}"{% endif %}
  
  {{ greatAttrs(
    attrs=widget.attrs
  ) }}

  >

  </div>
{% endmacro %}