{% from "./_attrs.njk" import greatAttrsDjango %}
{% from "./_option_conditional_reveal.njk" import greatOptionConditionalRevealDjango %}
{% from "./_option.njk" import greatOptionDjango %}
{% from "./_date_option.njk" import greatDateOptionDjango %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}

{% macro greatMultipleInputDjango(widget) %}
<div class="govuk-{{ widget.template_class_name }} {% if widget.is_small %}govuk-{{ widget.template_class_name }}--small {% endif %}" id="govuk-{{ widget.template_class_name }}-{{widget.attrs.id}}" data-module="govuk-{{ widget.template_class_name }}">
  {% for group, options, index in widget.optgroups %}
  {% for option in options %}
  {% if option.exclusive %} <p class='great-ds-form__divider-text'> or </p> {% endif %}
  <div id="{{widget.attrs.id}}" class="govuk-{{ widget.template_class_name }}__item">
    {% if widget.template_class_name == 'date-input' %}<div class="govuk-form-group">{% endif %}
    {% if option.reveals %}
     {{ greatOptionConditionalRevealDjango(
      widget=option
    ) }}
    {% elif widget.template_class_name == 'date-input' %}
    {{ greatDateOptionDjango(
      widget=option
    ) }}
    {% else %}
    {{ greatOptionDjango(
      widget=option
    ) }}
    {% endif %}
  </div>
  {% if widget.template_class_name == 'date-input' %}</div>{% endif %}
  {% if option.reveals %}
  <div class="govuk-{{ widget.template_class_name }}__conditional govuk-{{ widget.template_class_name }}__conditional--hidden" id="conditional-{{ widget.template_class_name }}Element-1">
  {% for reveal_field , errors in option.reveals %}
     <div{% if reveal_field.css_classes %} class="{{ reveal_field.css_classes }}"{% endif %}>
      {% if reveal_field.use_fieldset %}
        <fieldset class="govuk-fieldset">
        {% if reveal_field.label %}{{ reveal_field.legend_tag }}{% endif %}
      {% else %}
      {% if reveal_field.label %}
      {{ greatLabel(
        text=reveal_field.label,
        for=reveal_field.field.widget.id_for_label
      ) }}
      {% endif %}
      {% endif %}
      {% if reveal_field.help_text %}
      {{ greatHint(
        html=reveal_field.help_text,
        classes=reveal_field.help_text_css_classes
      ) }}
    {% endif %}      
    {{ errors }}
      {{ reveal_field }}
      {% if reveal_field.use_fieldset %}</fieldset>{% endif %}
    </div>
  {% endfor %}
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
{% endmacro %}
