{% from "./_attrs.njk" import greatAttrsDjango %}
{% from "../button/_button.njk" import greatButton %}

{% macro greatPasswordInputDjango(widget) %}
<div class="govuk-input__wrapper govuk-password-input__wrapper">
  <input class="govuk-input govuk-password-input__input govuk-js-password-input-input{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value | string }}"{% endif %}

{{ greatAttrsDjango(
  attrs=widget.attrs
) }}

>
{{ greatButton(
    type="button",
    classes="great-ds-button--secondary great-ds-button--inline great-ds-button--input-group govuk-password-input__toggle govuk-js-password-input-toggle",
    text="Show"
) }}
</div>

{% endmacro %}
