{% from "./_attrs.njk" import greatAttrsDjango %}

{% macro greatSelectOptionDjango(widget) %}
<option value="{{ widget.value|string }}"

{{ greatAttrsDjango(
  attrs=widget.attrs
) }}

>{{ widget.label }}</option>
{% endmacro %}