{% from "./_attrs.njk" import greatAttrsDjango %}

{% macro greatTextareaDjango(widget) %}

<textarea 
class="govuk-textarea{% if widget.attrs.class %} {{ widget.attrs.class }}{% endif %}"
name="{{ widget.name }}"

{{ greatAttrsDjango(
attrs=widget.attrs
) }}

>{% if widget.value %}{{ widget.value }}{% endif %}</textarea>

{% endmacro %}
