.great-ds-action-link__link {
    display: flex;
    align-items: center;
    width:fit-content;
    outline: none;
    @include great-ds-link-decorator;
    
    &:hover {
        text-decoration-color: $great-ds-semantic-text-hover-link;
        text-decoration-thickness: 2px;

        > * .great-ds-action-link__image-icon-background {
            fill: $great-ds-semantic-interaction-hover-icon-link;
        }
        .great-ds-action-link__text {
            color: $great-ds-semantic-text-hover-link;
        }
    }
    &:focus {
        text-decoration: none;
        @include govuk-focused-text;

        > * .great-ds-action-link__image-icon-background {
            fill: $great-ds-semantic-interaction-default-icon;
        }
        .great-ds-action-link__text {
            color: $great-ds-semantic-text-default-text;
        }
    }
}

.great-ds-action-link__image {
    margin-right: $great-ds-spacing-2;
}

.great-ds-action-link__text {
    color: $great-ds-semantic-text-default-link;
    padding: 2px;
}   

.great-ds-action-link__image-icon-background {
    fill: $great-ds-semantic-interaction-default-icon-link;
}

.great-ds-action-link--white:not(:focus) {
    text-decoration-color: $great-ds-semantic-text-default-white-text;

    .great-ds-action-link__text {
        color: $great-ds-semantic-text-default-white-text;
    }

    &:hover {
        > * .great-ds-action-link__image-icon-background {
            fill: $great-ds-semantic-interaction-default-icon-white;
        }
        > * .great-ds-action-link__image-icon-arrow {
            fill: $great-ds-semantic-interaction-default-icon-link;
        }
    }
}

.great-ds-action-link--black:not(:focus) {
    text-decoration-color: $great-ds-semantic-text-default-text;

    .great-ds-action-link__text {
        color: $great-ds-semantic-text-default-text;
    }

    &:hover {
        > * .great-ds-action-link__image-icon-background {
            fill: $great-ds-semantic-interaction-default-icon-great-ds-blue;
        }
        > * .great-ds-action-link__image-icon-arrow {
            fill: $great-ds-semantic-interaction-default-icon-white;
        }
    }
}
