---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Skip link
  parent: Components
  title: Skip link
isGovUk: true
---
{% markdown %}
# Skip link
{% endmarkdown %}

{% exampleWithCode "/components/skip-link/skip-link-example/", "skip-link-example", "100%", "100%" %}
