{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/skip-link/_skip-link.njk" import greatSkipLink %}

{{ greatSkipLink(
    href="#content",
    text="Skip to content"
) }}
{% endblock %}

