{% macro greatLabel(text, html, classes, for, isPageHeading) %}
{% if text or html %}
  {% if isPageHeading %}
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label{% if classes %} {{ classes }}{% endif %}"
        {% if for %}for="{{ for }}"{% endif %}>
        {% if html %}{{ html|safe }}{% else %}{{ text }}{% endif %}
      </label>
    </h1>
  {% else %}
    <label class="govuk-label{% if classes %} {{ classes }}{% endif %}"
      {% if for %}for="{{ for }}"{% endif %}>
      {% if html %}{{ html|safe }}{% else %}{{ text }}{% endif %}
    </label>
  {% endif %}
{% endif %}
{% endmacro %}