.govuk-frontend-supported {
    @include govuk-media-query($from: tablet) {

        .govuk-tabs__list {
            margin-bottom: 0;
            border-bottom: 2px solid $great-ds-semantic-border-default-grey-border;
            display: flex;
        }

        .govuk-tabs__list-item {
            background-color: $great-ds-semantic-surface-background-white;
            text-align: left;
        }

        .govuk-tabs__list-item--selected {
            border: 2px solid $great-ds-semantic-border-default-grey-border;
            border-top: 4px solid $great-ds-semantic-border-default-secondary-button-border;
            border-bottom: 0;
            margin-bottom: -2px;
            padding-top: 11px;
            padding-right: 18px;
            padding-bottom: 13px;
            padding-left: 18px;
        }

        .govuk-tabs__panel {
            border: 2px solid $great-ds-semantic-border-default-grey-border;
            border-top: 0;
        }
    }
}