---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Components
  title: Components
---

{% markdown %}
# Components
Components are reusable parts of a user interface. Using pre-built, core elements allow teams to build consistent services across great.gov.uk.  

You can also use the individual components in different patterns and contexts. For example, you can use the text input component to ask for an email address or someone’s name. 

Each component in the great.gov.uk Design System has guidance on its use and coded examples in both HTML Nunjucks and Django.
{% endmarkdown %}
