{% from "../button/_button.njk" import greatButton %}
{% from "../action-link/_action-link.njk" import greatActionLink %}
{% from "../responsive-image/_responsive-image.njk" import greatResponsiveImage %}

{% macro greatCtaBanner(backgroundClass, headingText, leadingText, listItems, ctaButtonText, signUpLink, signInLink, landscapeImagePath, portraitImagePath, actionLinkClass) %}
    <div class="great-ds-cta-banner {% if backgroundClass %}{{ backgroundClass }}{% endif %}">
        <div class="great-ds-container govuk-!-padding-top-7{% if not landscapeImagePath %} govuk-!-padding-bottom-7{% endif %}">
            <div class="govuk-grid-row">
                <div class="{% if landscapeImagePath %}govuk-grid-column-one-half{% else %}govuk-grid-column-two-thirds{% endif %}">
                    <h2 class="great-ds-cta-banner-heading">{{ headingText}}</h2>
                    {% if leadingText %}
                        <p class="great-ds-cta-banner-leading-text">{{ leadingText }}</p>
                    {% endif %}
                    {% if listItems %}
                        <ul class="great-ds-cta-banner__tick-list">
                            {% for item in listItems %}
                                <li class="great-ds-cta-banner__tick-list-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 24 24" fill="currentColor" class="great-ds-icon-svg">
                                        <path d="M9.55 18.2L3.65 12.3C3.25 11.9 3.25 11.3 3.65 10.9L5.075 9.475C5.475 9.075 6.1 9.075 6.5 9.475L10.75 13.725L19.5 4.975C19.9 4.575 20.525 4.575 20.925 4.975L22.35 6.4C22.75 6.8 22.75 7.425 22.35 7.825L11.375 18.2C10.975 18.6 10.35 18.6 9.55 18.2Z" fill="currentColor"/>
                                    </svg>
                                    {{ item }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if signUpLink %} 
                        <div class="great-ds-cta-banner__action-link-container">
                            {{ greatActionLink(linkText=signUpLink.linkText, linkHref=signUpLink.href, linkClass=actionLinkClass) }}
                        </div>
                    {% endif %}
                    {% if signInLink %} 
                        <p class="great-ds-cta-banner-signup-link-text">
                            {{ signInLink.preLinkText }} <a href="{{ signInLink.href }}" class="great-ds-cta-banner-signup-link govuk-link govuk-link--no-visited-state">{{ signInLink.linkText }}</a>
                        </p>
                    {% endif %}
                </div>
                {% if landscapeImagePath %}
                    <div class="govuk-grid-column-one-half">
                        {{ greatResponsiveImage(image_src=landscapeImagePath, xs_image_src=landscapeImagePath, s_image_src=landscapeImagePath, m_image_src=portraitImagePath, l_image_src=portraitImagePath, xl_image_src=landscapeImagePath, alt_text='Lady with pancakes') }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}