---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Password input
  parent: Components
  title: Password input
isGovUk: true
---
{% markdown %}
# Password input

Use the password input component to allow users to enter a password.

{% endmarkdown %}

{% exampleWithCode "/components/password-input/password-input-example/", "password-input-example", "100%", "100%" %}
