{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/password-input/_password-input.njk" import greatPasswordInput %}

{{ greatPasswordInput(
  id="password",
  name="password",
  label={
    text: "Password"
  },
  showPasswordText="Show",
  hidePasswordText="Hide",
  showPasswordAriaLabelText="Show password",
  hidePasswordAriaLabelText="Hide password",
  passwordShownAnnouncementText="Password shown",
  passwordHiddenAnnouncementText="Password hidden"
) }}
{% endblock %}
