.great-ds-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0 0 30px;
    list-style: none;
    align-items: stretch;
}

.great-ds-card-container:has(.great-ds-card__media--hide-on-mobile) {
    gap: 10px;

    @include govuk-media-query($from: tablet) {
        gap: 30px;
    }
}

.great-ds-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    @include govuk-media-query($from: tablet) {
        width: calc(50% - 15px);

        &--full {
            width: 100% !important;
        }
    }

    @include govuk-media-query($from: 1024px) {
        width: calc(25% - 23px);

        @for $i from 2 through 3 {
            &--#{$i} {
                width: calc(#{100/$i * 1%} - #{30px * ($i - 1) / $i});
            }
        }
    }

    @include govuk-media-query($from: 1325px) {

        @for $i from 2 through 10 {
            &--#{$i} {
                width: calc(#{100/$i * 1%} - #{30px * ($i - 1) / $i});
            }
        }
    }

    &:not(&--unmounted):not(:has(.great-ds-card__media)) .great-ds-card__content {
        padding: $great-ds-spacing-6;
    }
}

.great-ds-card__inner {
    border-bottom: 4px solid rgba(0, 0, 0, 0.20);
    background: $great-ds-semantic-surface-background-primary;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    &:hover {
        border-color: rgba(0, 0, 0, 0.30);
    }

    .great-ds-card--mounted-blue & {
        background: $great-ds-semantic-surface-background-secondary;
    }

    .great-ds-card--unmounted & {
        background: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        padding-bottom: $great-ds-spacing-5;
    }

    .great-ds-card--unmounted:last-child & {
        border-bottom: none;
        padding-bottom: 0;
    }

    .great-ds-card--elevated & {
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px rgba(4, 4, 63, 0.20);
        border: 2px solid $great-ds-primitive-brand-miuk-mid-grey;
    }

    .great-ds-card__link:focus & {
        border-bottom-width: 2px;
    }

    &:has(.great-ds-card__media--thumbnail),
    &:has(.great-ds-card__date) {
        @include govuk-media-query($from: tablet) {
            flex-direction: row;
        }
    }
}

.great-ds-card__media {
    margin: 0 0 $great-ds-spacing-4;
}

.great-ds-card__media--thumbnail {
    max-width: 120px;
    margin-bottom: $great-ds-spacing-4;

    @include govuk-media-query($from: tablet) {
        margin: 0 $great-ds-spacing-6;
    }

    .great-ds-card__image {
        border: 2px solid #eceeef;
        width: 100%;
    }
}

.great-ds-card--unmounted .great-ds-card__media--thumbnail {
    margin: 0 $great-ds-spacing-6 $great-ds-spacing-4 0;
}

.great-ds-card__media--hide-on-mobile {
    display: none;

    @include govuk-media-query($from: tablet) {
        display: block;
    }
}
  
.great-ds-card:not(:has(.great-ds-card__media--thumbnail)) .great-ds-card__image {
    width: 100%;
    height: auto;
}

.great-ds-card__icon {
    margin: $great-ds-spacing-6 0 0 $great-ds-spacing-6;

    .great-ds-card--unmounted & {
        margin: 0 $great-ds-spacing-4 0 0;
    }

    .great-ds-card__media--thumbnail & {
        width: 80px;
    }
}

.great-ds-card__date {
    background: $great-ds-semantic-surface-background-great-blue;
    width: 60px;
    height: 60px;
    padding: $great-ds-spacing-2 $great-ds-spacing-1;
    margin-bottom: $great-ds-spacing-4;
    color: $great-ds-semantic-text-default-text-inverted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-family: $great-ds-type-family-great-ds-bold;

    @include govuk-media-query($from: tablet) {
        margin: 0 $great-ds-spacing-6 0 0;
    }
}

.great-ds-card__date-day {
    @include govuk-font-size($size: 24);
}

.great-ds-card__date-month {
    @include govuk-font-size($size: 16);
}

.great-ds-card__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.great-ds-card:not(.great-ds-card--full) .great-ds-card__content {
    > *:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.great-ds-card:not(.great-ds-card--unmounted) .great-ds-card__content {
    padding: 0 $great-ds-spacing-6 $great-ds-spacing-6;
}

.great-ds-card:not(.great-ds-card--unmounted):has(.great-ds-card__media--thumbnail) .great-ds-card__content {
    padding: 0 $great-ds-spacing-6 $great-ds-spacing-6 0;
}

.great-ds-card--elevated:has(.great-ds-card__media--hide-on-mobile) .great-ds-card__content {
    padding: $great-ds-spacing-6;

    @include govuk-media-query($from: tablet) {
        padding: 0 $great-ds-spacing-6 $great-ds-spacing-6;
    }
}

.great-ds-card__link {
    text-decoration: none;
    color: inherit;
    
    &::before {
        background-color: rgba(255, 255, 255, 0);
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:focus, &:focus:active {
        outline: none;
        background-color: transparent;
    }
}

.great-ds-card__title-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    gap: $great-ds-spacing-2;

    @include govuk-media-query($from: desktop) {
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
}

.great-ds-card:has(.great-ds-card__media--hide-on-mobile):not(:has(.great-ds-card__description)) .great-ds-card__title-wrapper {
    flex-direction: row;

    @include govuk-media-query($until: tablet) {
        .great-ds-card__title {
            margin: 0;
        }
    }
}

.great-ds-card__title {
    font-family: $great-ds-type-family-great-ds-bold;
    @include govuk-font-size($size: 18);
    margin: 0 0 $great-ds-spacing-3;
    position: relative;

    .great-ds-card__link & {
        color: $great-ds-semantic-text-default-link;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 0.3em;
    }

    a:hover & {
        color: $great-ds-semantic-text-hover-link;
        text-decoration-color: $great-ds-semantic-text-hover-link;
        text-decoration-thickness: 2px;
    }

    a:focus & {
        @include govuk-focused-text();
    }

    a:visited:not(:focus) & {
        color: $great-ds-semantic-text-default-link-visited;
    }

    &--m {
        @include govuk-font-size($size: 24);
    }

    &--l {
        @include govuk-font-size($size: 36);
    }
}

.great-ds-card--elevated:has(.great-ds-card__media--hide-on-mobile) .great-ds-card__title {
    margin: 0;

    @include govuk-media-query($from: tablet) {
        margin: 0 0 $great-ds-spacing-3;
    }
}

.great-ds-card__subtext {
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    gap: $great-ds-spacing-2;
    color: $great-ds-semantic-text-default-secondary-text;
    @include govuk-font-size($size: 16);
    margin-bottom: $great-ds-spacing-2;
}

.great-ds-card__location-icon {
    flex-shrink: 0;
}

.great-ds-card__description {
    @include govuk-font-size($size: 18);
    font-family: $great-ds-type-family-great;
    color: $great-ds-semantic-text-default-text;
    word-break: break-word;
    margin: 0;
    padding-bottom: $great-ds-spacing-3;
}

.great-ds-card__metadata {
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    padding-bottom: $great-ds-spacing-3;
    margin-top: auto;
}

.great-ds-card__metadata-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: $great-ds-spacing-2;
}

.great-ds-card__metadata-text {
    color: $great-ds-semantic-text-default-secondary-text;
    @include govuk-font-size($size: 16);
    font-family: $great-ds-type-family-great;
}

.great-ds-card__tags {
    margin-bottom: $great-ds-spacing-1;
}
