---
eleventyNavigation:
  key: Details
  parent: Components
  title: Details
  synonyms:
  - accordion
  - collapse
  - expand
  - show/hide
---
{% extends "layout/_page.njk" %}

{% block content %}
    <p class="govuk-body">Here is a details example.</p>
    <p class="govuk-body">Uses govuk details component front end.</p>
    {% exampleWithCode "/components/details/details-example/", "details-example", "100%", "100%" %}
{% endblock %}
