---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Details
  parent: Components
  title: Details
  synonyms:
    - collapse
    - expand
    - show/hide
isGovUk: true
status: Live
---
{% markdown %}
# Details

Here is a details example.

Uses govuk details component front end.
{% endmarkdown %}

{% exampleWithCode "/components/details/details-example/", "details-example", "100%", "100%" %}
