{% extends "layout/_example.njk" %}
{% from "../../../components/action_link/_action_link.njk" import greatActionLink %}

{% block content %}
    {{ greatActionLink(
        linkText = "Find more here",
        linkHref = "#",
        linkClass = 'great-ds-action-link--black'
    ) }}
{% endblock %}

