{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/action_link/_action_link.njk" import greatActionLink %}
    <div class="great-ds-cta-banner--bg-dark-blue govuk-!-padding-8">
        {{ greatActionLink(
            linkText = "Find more here",
            linkHref = "#",
            linkClass = 'great-ds-action-link--white-blue-arrow'
        ) }}
    </div>
{% endblock %}

