---
eleventyNavigation:
  key: Action link
  parent: Components
  title: Action link
  synonyms:
    - link
---
{% extends "layout/_page.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Action link</h1>
    <p class="govuk-body">Action Link Example</p>
    <p class="govuk-body"> This is the default action link </p>
    {% exampleWithCode "/components/action_link/action-link-default-example/", "action-link", "100%", "50px" %}

    <p class="govuk-body"> This is a dark blue action link </p>
    {% exampleWithCode "/components/action_link/action-link-dark-blue-example/", "action-link", "100%", "50px" %}
    <p class="govuk-body"> This is a white action link </p>
    {% exampleWithCode "/components/action_link/action-link-white-example/", "action-link", "100%", "150px" %}
{% endblock %}

