{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Action Link{% endblock %}

{% block content %}
    <p class="govuk-body">Action Link Example</p>
    {% exampleIframe "/components/action_link/action-link-example/" %}
{% endblock %}
