---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Action link
  parent: Components
  title: Action link
  synonyms:
    - link
status:
  - Live
---
{% markdown %}
# Action link

The action link component is used to link a user to a page. It should be used instead of a general text hyperlink when the need to point to a page is of particular significance. 
{% endmarkdown %}

{% exampleWithCode "/components/action_link/action-link-default-example/", "action-link", "100%", "70px" %}
{% markdown %}
## When to use this component 

An action link should be used to link a user to a service. It should be used instead of a general text hyperlink when the need to point to a service is of particular significance. 

The action link should contain a short description of the service in one line of text in the largest viewports. The description should give the user enough information to help them understand what the service is and whether it will meet their needs. 

## When not to use this component 

Once a user has begun navigating a service and is completing stages throughout a journey, do not use the action link to allow them to move between those different stages, for example. In these cases, a button would work better. 

## How it works 

If you are using Django, you can use the Django macro. Similarly, if you are using Nunjucks, you can use the Nunjucks macro. You can also use the HTML directly but this is not recommended as updates to the component could make your code difficult to maintain.
{% endmarkdown %}

{% markdown %}
### Action link example - inverted with dark blue background

This variant will render the action link with a dark blue background and white text. Add `great-ds-action-link--white-text-blue-arrow` to `linkClass` to use this variant.
{% endmarkdown %}
{% exampleWithCode "/components/action_link/action-link-dark-blue-example/", "action-link", "100%", "170px" %}

{% markdown %}
### Action link example - black link text

This variant will render the action link with black link text. Add `great-ds-action-link--black-text` to `linkClass` to use this variant.

{% endmarkdown %}
{% exampleWithCode "/components/action_link/action-link-black-text-example/", "action-link", "100%", "70px" %}


