---
navTitle: "Home"
permalink: "/"
---
{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Home Page{% endblock %}

{% block content %}
    <section class='great-ds-container'>
        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-column-one-third">
                <h2>Styles</h2>
                <p>Make government services consistent across great.gov.uk with guides for applying layout, typography, colour and images.</p>
                <a href=''>View styles</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <h2>Components</h2>
                <p>Save time with reusable, accessible components for forms, navigation, panels, tables and more.</p>
                <a href=''>View components</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <h2>Patterns</h2>
                <p>Help users complete common tasks like entering names and addresses, filling in forms and creating accounts.</p>
                <a href=''>View patterns</a>
            </div>
        </div>

        <div class="great-ds-from-tablet-light-grey-divider"></div>

        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-column-one-third">
                <h2>Content</h2>
                <p>Make your content consistent across all Great services using our style guides.</p>
                <a href=''>View content guidance</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <h2>Community</h2>
                <p>Contribute to the Design System by proposing new components or patterns and sharing your ideas in our community.</p>
                <a href=''>View community</a>
            </div>
            <div class="govuk-grid-column-one-third">
                <h2>Accessibility</h2>
                <p>Our accessibility strategy outlines our principles and work to improve accessibility within the Design System.</p>
                <a href=''>View accessibility</a>
            </div>
        </div>

        <div class="great-ds-from-tablet-light-grey-divider"></div>

        <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
            <div class="govuk-grid-column-one-third">
                <h2>Updates</h2>
                <p>Find out about our latest releases as well as planned work.</p>
                <a href=''>View updates</a>
            </div>
        </div>
    </section>
{% endblock %}