---
navTitle: "Home"
permalink: "/"
---
{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Home Page{% endblock %}

{% block content %}
    <section>
        <h1>Great Design System</h1>
        <p>Design system does design system things</p>
    </section>
{% endblock %}