{% from "../../components/input/_input.njk" import greatInput %}
{% from "../error-message/_error-message.njk" import greatErrorMessage %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}
{% macro greatCheckboxes(describedBy, checkboxesName,formGroupClasses, leadingQuestion,errorMessage,size,checkboxes) %}
    <div class="govuk-form-group {% if formGroupClasses %}{{formGroupClasses}}{% endif %}{% if errorMessage %} govuk-form-group--error {% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="{{describedBy}} ">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading"> 
                    {{ leadingQuestion }} {# TODO Change name #}
                </h1>
            </legend>
            {% if hint %}
                {% set hintId = id + '-hint' %}
                {% set describedBy = describedBy + ' ' + hintId if describedBy else hintId %}
                {{ greatHint(
                    id=hintId,
                    classes=hint.classes,
                    html=hint.html,
                    text=hint.text
                ) }}
            {% endif %}
            {% if errorMessage %}
                {% set errorId = id + '-error' %}
                {% set describedBy = describedBy + ' ' + errorId if describedBy else errorId %}
                {{ greatErrorMessage(
                    id=errorId,
                    classes=errorMessage.classes,
                    visuallyHiddenText=errorMessage.visuallyHiddenText,
                    html=errorMessage.html,
                    text=errorMessage.text
                ) }}
            {% endif %}
            <div {% if id %} id="{{ id }}"{% endif %} 
                class="govuk-checkboxes {% if size == 'small'%} govuk-checkboxes--small {% endif %}" 
                data-module="govuk-checkboxes"
            >
                {% for checkboxItem in checkboxes %}
                    {% if checkboxItem.exclusive %}
                        <div class="govuk-checkboxes__divider">or</div>
                    {% endif %}
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" 
                            id="{% if checkboxItem.id %}{{ checkboxItem.id }}{% else %}{{ checkboxesName }}-{{loop.index}}{% endif %}"
                            name="{{checkboxesName}}" 
                            type="checkbox" 
                            value="{{checkboxItem.value}}" 
                            {% if checkboxItem.exclusive %} data-behaviour="exclusive" {% endif %} 
                            {% if checkboxItem.conditionalInput %} data-aria-controls="{{ checkboxItem.conditionalInput.containerId }}" {% endif %}
                        >
                        {% if checkboxItem.id %}
                            {% set labelFor = checkboxItem.id %}
                        {% else %}
                            {% set labelFor = checkboxesName + "-" + loop.index %}
                        {% endif %}
                        {{ greatLabel(
                            text = checkboxItem.label.text,
                            html = checkboxItem.label.html,
                            classes = 'govuk-checkboxes__label '+ checkboxItem.label.classes, {# TODO Prevent undefined? #}
                            for = labelFor
                        ) }}
                    </div>
                    {% if checkboxItem.conditionalInput %}
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" {% if checkboxItem.conditionalInput.containerId %}id="{{ checkboxItem.conditionalInput.containerId }}"{% else %}id="{{checkboxesName}}-{{loop.index}}-conditional"{% endif %}>
                            {{ greatInput(
                                type = checkboxItem.conditionalInput.type,
                                name = checkboxItem.conditionalInput.name,
                                id = checkboxItem.conditionalInput.id,
                                errorMessage = checkboxItem.conditionalInput.errorMessage,
                                label = {
                                    text: checkboxItem.conditionalInput.label
                                },
                                hint = {
                                    text: checkboxItem.conditionalInput.hint
                                },
                                classes = checkboxItem.conditionalInput.classes,
                                spellcheck = checkboxItem.conditionalInput.spellcheck,
                                value = checkboxItem.conditionalInput.value,
                                disabled = checkboxItem.conditionalInput.disabled,
                                autocomplete = checkboxItem.conditionalInput.autocomplete,
                                pattern = checkboxItem.conditionalInput.pattern,
                                inputmode = checkboxItem.conditionalInput.inputmode,
                                prefix = checkboxItem.conditionalInput.prefix,
                                suffix = checkboxItem.conditionalInput.suffix,
                                formGroupClasses = checkboxItem.conditionalInput.formGroupClasses,
                                beforeInput = checkboxItem.conditionalInput.beforeInput,
                                afterInput = checkboxItem.conditionalInput.afterInput,
                                attributes = checkboxItem.conditionalInput.attributes,
                                placeholder = checkboxItem.conditionalInput.placeholder
                            ) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
  </fieldset>
</div>
{% endmacro %}