{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Accordion{% endblock %}

{% block content %}
    <p class="govuk-body">Here is an accordion example.</p>
    <p class="govuk-body">Uses govuk accordion component front end.</p>
    {% exampleIframe "/components/accordion/accordion-example/", "100%", "600px" %}
{% endblock %}
