---
eleventyNavigation:
  key: Accordion
  parent: Components
  title: Accordion
---
{% extends "layout/_page.njk" %}

{% block content %}
    <h1 class="govuk-heading-l">Accordion</h1>
    <p class="govuk-body">Here is an accordion example.</p>
    <p class="govuk-body">Uses govuk accordion component front end.</p>
    {% exampleWithCode "/components/accordion/accordion-example/", "accordion", "100%", "600px" %}
{% endblock %}
