---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Inset text
  parent: Components
  title: Inset text
isGovUk: true
---
{% markdown %}
# Inset text

The inset text component is used to highlight information on a page. 
{% endmarkdown %}

{% exampleWithCode "/components/inset_text/inset-text-example/", "inset-text", "100%", "200px" %}

{% markdown %}
## When to use 
Use the inset text component to differentiate a block of text from the content that surrounds it, for example: 

* quotes 
* additional information about the page 
* examples 

## When not to use 

Some users do not notice inset text if it’s used on complex pages or near to other visually prominent elements. For this reason, avoid using inset text as a way of highlighting very important information that users need to see. 

If you need to draw attention to very important content, like legal information, use the Warning text component instead. 
 
## How it works 

Use inset text very sparingly - it’s less effective if it’s overused.

If you are using Django, you can use the Django macro. Similarly, if you are using Nunjucks, you can use the Nunjucks macro. You can also use the HTML directly but this is not recommended as updates to the component could make your code difficult to maintain.

You can provide an optional label for the component. This uses a default `<h3>` but you can provide the level using the `labelLevel` property. In addition, there are two sizing options; small and medium.
{% endmarkdown %}

{% exampleWithCode "/components/inset_text/inset-text-small-example/", "inset-text", "100%", "200px" %}



