{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/inset_text/_inset_text.njk" import greatInsetText %}
    {{ greatInsetText(
        label = 'Label (small)',
        labelSmall = true,
        insetText = 'Description'
    ) }}

{% endblock %}
