{% macro greatHint(id, classes, html, text, for) %}
<div {% if id %}id="{{ id }}"
    {% elif for %}
      id="{{ for }}-hint"
    {% endif %} 
     class="govuk-hint{% if classes %} {{ classes }}{% endif %}">
  {% if html %}{{ html|safe }}{% else %}{{ text }}{% endif %}
</div>
{% endmacro %}