---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Text input
  parent: Components
  title: Text input
isGovUk: true
---
{% markdown %}
# Text input

The text input component is used to allow users to enter text. 
{% endmarkdown %}

{% exampleWithCode "/components/text-input/text-input-example/", "text-input", "100%", "100%" %}

