---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Date input
  parent: Components
  title: Date input
isGovUk: true
---
{% markdown %}
# Date input

The date input component is used to allow users to enter a day, month and year. 
{% endmarkdown %}

{% exampleWithCode "/components/date-input/date-input-example/", "date-input", "100%", "100%" %}

