.great-ds-title-arrow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 0 $great-ds-spacing-3;
    position: relative;
}

.great-ds-title-arrow__text {
    font-family: $great-ds-type-family-great-ds-bold;
    margin: 0 0 $great-ds-spacing-3;
    color: $great-ds-semantic-text-default-link;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
    align-items: center;
    @include govuk-font-size($size: 18);
    display: block;
    position: relative;

    a:hover & {
        color: $great-ds-semantic-text-hover-link;
        text-decoration-color: $great-ds-semantic-text-hover-link;
        text-decoration-thickness: 2px;
    }

    a:focus & {
        @include govuk-focused-text();
    }

    &--m {
        @include govuk-font-size($size: 24);
    }

    &--l {
        @include govuk-font-size($size: 36);
    }
}


