{% extends "layout/_example.njk" %}

{% block content %}
  {% from "../../../components/autocomplete/_autocomplete.njk" import greatAutocomplete %}

  {{ greatAutocomplete(
    type = "text",
    id = "autocomplete-example",
    name = "autocomplete-example",
    label = {
            text: 'Autocomplete example'
        },
    hint = {
        text: 'This is a hint'
    }
  )}}

{% endblock %}