{% extends "layout/_example.njk" %}

{% block content %}
  {% from "../../../components/autocomplete/_autocomplete.njk" import greatAutocomplete %}

  {{ greatAutocomplete(
    type = "text",
    id = "autocomplete-example",
    name = "autocomplete-example",
    placeholder = "Input value",
    label = {
        text: "Autocomplete example"
    },
    hint = {
        text: "This is a hint"
    },
    jsonData = {
      data: [{"label": "list item label"}, {"label": "list item label"}]
    }
  )}}

{% endblock %}