---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Autocomplete
  parent: Components
  title: Autocomplete
isGovUk: true
---
{% markdown %}
# Autocomplete

The autocomplete component is used to display generated suggestions based on user input.
{% endmarkdown %}

{% exampleWithCode "/components/autocomplete/autocomplete-example", "autocomplete", "100%", "300px" %}

