{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/back_link/_back_link.njk" import greatBackLink %}

    {{ greatBackLink(
        linkHref = "#",
        linkClass = '',
        backLinkText = ''
    ) }}
{% endblock %}
