{% extends "layout/_example.njk" %}
{% set exampleFullWidth = true %}

{% block content %}
    {% from "../../../components/header-bgs/_header-bgs.njk" import greatHeader %}

{{ greatHeader(
    hideSearch=true
) }}
{% endblock %}
