---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Header
  parent: Components
  title: Header BGS
  synonyms:
    - masthead
    - navigation
    - nav bar
status: 
  - Live
---
{% markdown %}
# Header

The great.gov.uk header components tell users they’re using a service on great.gov.uk and lets them use great.gov.uk-wide tools. 

{% endmarkdown %}

{% exampleWithCode "/components/header-bgs/header-example/", "header-example", "100%", "300px" %}
{% exampleWithCode "/components/header-bgs/header-campaign-example/", "header-campaign-example", "100%", "300px" %}
{% exampleWithCode "/components/header-bgs/header-simple-example/", "header-simple-example", "100%", "300px" %}

