<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Great Design System - {{ page.title }}{% endblock %}</title>
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet" />
</head>
<body>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    {% from "../../components/header/_header.njk" import greatHeader %}
    {% set navItemsList = [] %}
    {% for entry in collections.all | eleventyNavigation %}
        {% set children = [] %}
        
        {% set overviewItem = {
            text: entry.title + " overview",
            href: entry.url,
            isCurrent: entry.url === page.url
        } %}

        {% set children = (children.push(overviewItem), children) %}
        
        {% for child in entry.children %}
            {% set childItem = {
                text: child.title,
                href: child.url,
                isCurrent: child.url === page.url
            } %}
            {% set children = (children.push(childItem), children) %}
        {% endfor %}

        {% set navItem = {
            text: entry.title,
            href: entry.url,
            isCurrent: entry.url === page.url,
            children: children
        } %}
        {% set navItemsList = (navItemsList.push(navItem), navItemsList) %}
    {% endfor %}

    {{ greatHeader(
        siteTitle="Design System",
        largeTitle=true,
        subnavItemsList=navItemsList,
        hideMasthead=true,
        isCampaign=true,
        minimalSearchAndMenu=true,
        autocompleteSearch=true,
        accordionMobileMenu=true
    ) }}

    <div class="app-site-wrapper">
        {% block navigation %}{% endblock %}
        <main class="app-site-main">
            {% block content %}{% endblock %}
        </main>
    </div>

    {% from "../../components/footer/_footer.njk" import greatFooter %}
    {{ greatFooter(
        currentYear = '2024',
        footerLinks = [
            { href: "#", text: "Accessibility statement", title: 'Accessibility statement' },
            { href: "#", text: "Cookies", title: 'Cookies' },
            { href: "#", text: "Privacy policy", title: 'Privacy policy' }
        ],
        logoLinkHref = '#'
    ) 
    }}

    <script src="/js/main.js"></script>
    <script src="/js/app_js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markup-templating.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-twig.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-django.min.js"></script>
</body>
</html>
