<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Great Design system{% endblock %}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <header>
        <div class="great-container">
            <nav class="govuk-main-wrapper">
                <h1 class="govuk-heading-xl govuk-!-static-margin-bottom-2">Great Design System</h1>
                <p>Great Design System provides components, styles and patterns.</p>
                <ul class="govuk-list">
                    {% for page in collections.all %}
                        {% if page.data.navTitle %}
                            <li><a class="govuk-link" href="{{ page.url }}">{{ page.data.navTitle }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <hr>
        </div>
    </header>
    <div class="great-container">
        <main class="govuk-main-wrapper">
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        
    </footer>

    <script src="/js/main.js"></script>
</body>
</html>
