{% extends "layout/_base.njk" %}

{% block navigation %}
    <div class="app-site-navigation">
        {% include "../helpers/_subnavigation.njk" %}
    </div>
{% endblock %}
{% block content %}
    {{ content | safe }}
{% endblock %}
