---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Inline Feedback
  parent: Components
  title: Inset text
isGovUk: true
---
{% markdown %}
# Inline Feedback


{% endmarkdown %}

{% exampleWithCode "/components/inline_feedback/inline_feedback_example/", "inline_feedback", "100%", "200px" %}

{% markdown %}
## When to use 


## When not to use 


## How it works 

{% endmarkdown %}




