---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Error summary
  parent: Components
  title: Error summary
isGovUk: true
---
{% markdown %}
# Error summary
{% endmarkdown %}

{% exampleWithCode "/components/error-summary/error-summary-example/", "error-summary-example", "100%", "300px" %}
