{% from "../button/_button.njk" import greatButton %}
{% from "../text-input/_text-input.njk" import textInput %}
{% from "./_header-masthead-logo.njk" import greatMastheadLogo %}
{% from "./_header-great-logo.njk" import greatLogo %}

{% macro greatHeader(isInternational, isCampaign, rtl, include_link_to_great, use_domestic_logo, header_classes, global_header_classes, strapline, available_languages, current_language, sso_is_logged_in, domesticLink, internationalLink, siteTitle, actionLinkList, isAuthenticated, navItemsList, hideSearch, searchFormAction, hideMenuOnDesktop, menuItemsList, subnavItemsList) %}
<header class="great-ds-header {{ header_classes }}{% if rtl %} great-ds-header--rtl{% endif %}{% if isInternational %} great-ds-header--international{% endif %}{% if isCampaign %} great-ds-header--campaign{% endif %}" id="header" role="banner" data-ga-section="header">
    <div id="great-ds-global-header" class="great-ds-container great-ds-header__global {{ global_header_classes }} {% if sso_is_logged_in %}signed-in{% endif %}">
        <div class="great-ds-header__dbt-logo">
            {{ greatMastheadLogo(use_domestic_logo=use_domestic_logo) }}
        </div>
        {% if domesticLink and internationalLink %}
            <ul class="great-ds-header__international-links">
                <li class="great-ds-header__international-link-item {% if not isInternational %}great-ds-header__international-link-item--active{% endif %} great-ds-header__international-link-item--domestic">
                    <a href="{{ domesticLink.href }}" id="great-ds-global-header-domestic-link" class="great-ds-header__international-link">{{ domesticLink.text }}</a>
                </li>
                <li class="great-ds-header__international-link-item great-ds-header__international-link-item--international {% if isInternational %}great-ds-header__international-link-item--active{% endif %}">
                    <a href="{{ internationalLink.href }}" id="great-ds-global-header-international-link" class="great-ds-header__international-link">{{ internationalLink.text }}</a>
                </li>
            </ul>
        {% endif %}
        {% if strapline and include_link_to_great %}
            <div class="great-ds-header__strapline">
                {{ strapline|safe }}
            </div>
        {% endif %}
    </div>
    <div class="great-ds-header__main">
        <div class="great-ds-header__main-inner great-ds-container">
            <div class="great-ds-header__logo-container">
                <a id="header-logo-link" alt="Great" class="great-ds-header__great-ds-logo" href="/">
                    {% if isInternational %}
                        {{ greatLogo(isInternational=true) }}
                    {% else %}
                        {{ greatLogo() }}
                    {% endif %}
                </a>
            </div>
            {% if siteTitle %}
                <div class="great-ds-header__site-title">
                    <span class="great-ds-header__site-title-text">{{ siteTitle }}</span>
                </div>
            {% endif %}
            <div class="great-ds-header__nav-container">
                {% if actionLinkList %}
                    <div class="great-ds-header__nav-action">
                        {% for item in actionLinkList %}
                            {% if item.requiresAuth and isAuthenticated or item.requiresNoAuth and not isAuthenticated %}
                                <a href="{{ item.href }}" class="great-ds-header__action-link">{{ item.text }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="great-ds-header__nav-lower">
                    {% if navItemsList %}
                        <nav class="great-ds-header__nav">
                            <ul class="great-ds-header__nav-list">
                                {% for item in navItemsList %}
                                    {% if item.requiresAuth and isAuthenticated or item.requiresNoAuth and not isAuthenticated or not item.requiresAuth and not item.requiresNoAuth %}
                                        <li class="great-ds-header__nav-item">
                                            <a href="{{ item.href }}" class="great-ds-header__nav-link{% if item.isCurrent %} great-ds-header__nav-link--current{% endif %}">{{ item.text }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}
                    {% if not hideSearch %}
                        <div class="great-ds-header__search">
                            <form id="great-ds-header-search-form" class="great-ds-header__search-form" action="{{ searchFormAction }}" method="get">
                                {{ textInput(
                                    classes="great-ds-text-input--search",
                                    id="great-ds-header-search-input",
                                    label="Search",
                                    name="search",
                                    placeholder="Search",
                                    labelClasses="govuk-visually-hidden"
                                ) }}
                                
                                {% set search_icon = '<svg xmlns="http://www.w3.org/2000/svg" class="great-ds-icon--svg" width="20" height="20" viewBox="0 0 18 18" fill="currentColor">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.77589 13.722C6.26697 13.8589 4.79933 13.386 3.64011 12.4016C1.2472 10.3681 0.933108 6.74217 2.94069 4.31856C4.06024 2.96784 5.66793 2.27198 7.28695 2.27198C8.57164 2.27198 9.86443 2.7113 10.9249 3.61205C12.0841 4.59641 12.7949 5.97992 12.9268 7.50687C13.0588 9.03299 12.5957 10.5206 11.6235 11.6943C10.6505 12.868 9.28401 13.5884 7.77589 13.722ZM18 15.5071L13.5606 11.7361C14.3256 10.4247 14.6737 8.91169 14.5393 7.36344C14.3702 5.40128 13.4562 3.62271 11.9651 2.35558C8.88816 -0.258992 4.28286 0.148357 1.70133 3.26536C-0.881003 6.38072 -0.477867 11.0427 2.59908 13.6573C3.92344 14.7826 5.56107 15.3834 7.26914 15.3834C7.48447 15.3834 7.70061 15.3744 7.91756 15.3555C9.44591 15.2203 10.8569 14.6097 11.9999 13.6196L16.4385 17.3914L18 15.5071Z"/>'%}
                                {{ greatButton(
                                    classes="great-ds-button--icon great-ds-button--search",
                                    text="Search",
                                    html=search_icon
                                ) }}
                            </form>
                        </div>
                    {% endif %}
                    {% if available_languages.length > 1 %}
                        <div class="great-ds-header__languages">
                            <nav class="great-ds-header__languages-container" aria-label="Languages">
                                <ul class="great-ds-header__languages-list">
                                    {% for language in available_languages %}
                                        <li class="great-ds-header__languages-item{% if current_language == language.language_code %} great-ds-header__languages-item--current{% endif %}">
                                            <a class="great-ds-header__languages-link" href="?lang={{ language.language_code }}" aria-current="{% if current_language == language.language_code %}true{% else %}false{% endif %}" lang="{{ language.language_code }}">{{ language.display_name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                    {% if menuItemsList or subnavItemsList %}
                        <div class="great-ds-header__menu{% if hideMenuOnDesktop and subnavItemsList.length < 6 %} great-ds-header__menu--hidden-on-desktop{% endif %}{% if rtl %} govuk-!-margin-right-3{% else %} govuk-!-margin-left-3{% endif %}">
                            {% set menu_icon = '<svg class="great-ds-icon--svg" width="16" height="17" viewBox="0 0 16 17" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 3.5C1 2.94687 1.44687 2.5 2 2.5H14C14.5531 2.5 15 2.94687 15 3.5C15 4.05313 14.5531 4.5 14 4.5H2C1.44687 4.5 1 4.05313 1 3.5ZM1 8.5C1 7.94688 1.44687 7.5 2 7.5H14C14.5531 7.5 15 7.94688 15 8.5C15 9.05312 14.5531 9.5 14 9.5H2C1.44687 9.5 1 9.05312 1 8.5ZM15 13.5C15 14.0531 14.5531 14.5 14 14.5H2C1.44687 14.5 1 14.0531 1 13.5C1 12.9469 1.44687 12.5 2 12.5H14C14.5531 12.5 15 12.9469 15 13.5Z"/>'%}
                            {{ greatButton(
                                text="Menu",
                                classes="great-ds-button--inverted great-ds-button--icon-prefix great-ds-button--auto-width ",
                                attributes="data-great-ds-reveal-button data-great-ds-reveal-modal aria-controls=header-menu",
                                iconPrefix=menu_icon
                            ) }}
                            <div id="header-menu" class="great-ds-header__menu-wrapper">
                                <ul class="great-ds-header__menu-list">
                                    {% for item in menuItemsList %}
                                        {% if item.requiresAuth and isAuthenticated or item.requiresNoAuth and not isAuthenticated or not item.requiresAuth and not item.requiresNoAuth %}
                                            <li class="great-ds-header__menu-item{% if item.userGreeting %} great-ds-header__menu-item--user{% endif %}">
                                                {% if item.href and not item.button %}
                                                    <a href="{{ item.href }}" class="great-ds-header__menu-link {% if item.isCurrent %}great-ds-header__menu-link--current{% endif %}">{{ item.text }}</a>
                                                {% elif item.button %}
                                                    {{ greatButton(
                                                        text=item.text,
                                                        classes="great-ds-button--full-width govuk-!-margin-0",
                                                        href=item.href,
                                                        attributes=item.attributes
                                                    ) }}
                                                {% else %}
                                                    {{ item.text }}
                                                {% endif %}
                                                
                                                {% if menuItemsList and subnavItemsList and loop.index == 1 %}
                                                    <ul class="great-ds-header__submenu-list">
                                                        {% for subItem in subnavItemsList %}
                                                            <li class="great-ds-header__submenu-item">
                                                                <a href="{{ subItem.href }}" class="great-ds-header__submenu-link {% if subItem.isCurrent %}great-ds-header__submenu-link--current{% endif %}">{{ subItem.text }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if subnavItemsList and not menuItemsList %}
                                        {% for item in subnavItemsList %}
                                            <li class="great-ds-header__menu-item{% if item.userGreeting %} great-ds-header__menu-item--user{% endif %}">
                                                    <a href="{{ item.href }}" class="great-ds-header__menu-link {% if item.isCurrent %}great-ds-header__menu-link--current{% endif %}">{{ item.text }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if subnavItemsList and subnavItemsList.length < 6 %}
        <div class="great-ds-header__subnav">
            <nav class="great-ds-header__subnav-container great-ds-container" aria-label="Sub-menu">
                <ul class="great-ds-header__subnav-list">
                    {% for item in subnavItemsList %}
                        <li class="great-ds-header__subnav-item">
                            <a class="great-ds-header__subnav-link {% if item.isCurrent %}great-ds-header__subnav-link--current{% endif %}" href="{{ item.href }}" data-location="{{ item.location }}" data-title="{{ item.text }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
</header>
{% endmacro %}