.great-ds-header {
    background-color: $great-ds-semantic-surface-background-white;

    a {
        text-decoration: none;

        &:focus {
            @include govuk-focused-text;
        }
    }
    
    // TO DO: remove when we have a list style class
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.great-ds-header--international {
    font-family: $great-ds-type-family-great-ds-international-bold;
}

.great-ds-header__dbt-logo {
    align-self: center;
    margin: 10px 0;
}

.great-ds-header__dbt-logo-link {
    display: block;
    line-height: 0;
}

.great-ds-header__dbt-logo-image {
    width: 240px;
    height: 26px;
}

.great-ds-header__global {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.great-ds-header__international-links {
    display: none;
    justify-content: space-between;

    @include govuk-media-query($from: desktop) {
        display: flex;
    }


    .great-ds-header--international & {
        font-family: $great-ds-type-family-great-ds-international;
    }
}

.great-ds-header__international-link-item {
    padding: $great-ds-spacing-2 $great-ds-spacing-4;
    @include govuk-font-size($size: 16);

    &:first-child {
        margin-right: 5px;
    }

    &--active, 
    &:hover {
        border-bottom: 4px solid $great-ds-semantic-surface-background-great-ds-red;
    }

    .great-ds-header--international & {
        &--active, 
        &:hover {
            border-bottom: 4px solid $great-ds-semantic-surface-background-great-ds-blue;
        }
    }
}

.great-ds-header__international-link {
    color: $great-ds-semantic-text-default-text;
}

.great-ds-header__main {
    padding: 20px 0;
    min-height: 90px;
    background-color: $great-ds-semantic-surface-background-great-ds-blue;
    position: relative;

    .great-ds-header--international & {
        background-color: $great-ds-semantic-surface-background-great-ds-red;
        padding: 5px 0;
    }

    a {
        color: $great-ds-semantic-text-default-white-text;
        
        &:hover {
            text-decoration: underline;
        }

        &:focus {
            @include govuk-focused-text;
        }
    }
}

.great-ds-header__main-inner {
    @include govuk-media-query($from: desktop) {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: end;

        &:not(:has(.great-ds-header__nav-action)) {
            align-items: center;
        }
    }
}

.great-ds-header__logo-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    padding-right: $great-ds-spacing-6;
    z-index: 998;
    width: auto;

    @include govuk-media-query($from: desktop) {
        align-items: center;   
        flex-direction: row;
    }

    .great-ds-header:not(.great-ds-header--international) & {
        &::before {
            content: '';
            position: absolute;
            top: -15px;
            bottom: 0;
            right: 100%;
            width: 100vw;
            height: 100%;
            background-color: $great-ds-semantic-surface-background-great-ds-red;
            border-top: 15px solid $great-ds-semantic-surface-background-great-ds-blue;
            border-bottom: 15px solid $great-ds-semantic-surface-background-great-ds-blue;
        }
    }
}

.great-ds-header__great-ds-logo {
    position: relative;
    display: flex;
    align-items: start;
    height: 110px;
    margin-left: -1px;
    background-color: $great-ds-semantic-surface-background-great-ds-red;

    .great-ds-header--international & {
        height: 95px;
    }

    &:focus {
        box-shadow: none !important;

        .great-ds-header__great-ds-logo-image {
            path {
                fill: $great-ds-semantic-text-default-text;
            }
            path.great-ds-header__great-ds-logo-path--horizontal {
                fill: url(#logo-gradient-horizontal);   
            }
            path.great-ds-header__great-ds-logo-path--horizontal-reverse {
                fill: url(#logo-gradient-horizontal-reverse);   
            }
            path.great-ds-header__great-ds-logo-path--vertical {
                fill: url(#logo-gradient-vertical);   
            }
        }
    }
}

.great-ds-header__site-title {
    color: $great-ds-semantic-text-default-white-text;
    @include govuk-font-size($size: 24);

    @include govuk-media-query($from: desktop) {
        margin-left: $great-ds-spacing-9;
    }
}

.great-ds-header__nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: -100px;

    &:has(.great-ds-header__search) {
        width: 100%;
    }

    &:not(:has(.great-ds-header__nav-action)) {
        margin-top: -75px;
    }

    @include govuk-media-query($from: desktop) {
        margin-top: 0 !important;
    }

    @include govuk-media-query($from: 1080px) {
        width: auto !important;
    }
}

.great-ds-header__nav-lower {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}

.great-ds-header__nav-action {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
}

.great-ds-header__nav {
    order: 1;
    width: auto;
    display: none;

    @include govuk-media-query($from: 1240px) {
        display: inline-flex;
    }
}

.great-ds-header__nav-list {
    display: inline-flex;
}

.great-ds-header__nav-item:not(:last-child) {
    padding: 0 $great-ds-spacing-6-large 0 0;

    .great-ds-header--international & {
        @include govuk-font-size($size: 19);
    }
}

.great-ds-header__search {
    order: 3;
    width: 100%;
    flex-grow: 1;

    @include govuk-media-query($from: desktop) {
        order: 2;
        width: auto;
        margin-left: $great-ds-spacing-6-large;
    }

    @include govuk-media-query($from: 1080px) {
        flex-grow: 0;
    }
}

.great-ds-header__search-form {
    display: flex;
    align-items: center;
}

.great-ds-header__menu {
    order: 2;
    width: auto;
    margin-bottom: 20px;
    color: $great-ds-semantic-text-default-white-text;

    @include govuk-media-query($from: desktop) {
        order: 3;
        margin-bottom: 0;
    }
}

.great-ds-header__menu--hidden-on-desktop {
    display: block;

    @include govuk-media-query($from: 1240px) {
        display: none;
    }
}

.great-ds-header__menu-wrapper {
    display: none;
    background-color: $great-ds-semantic-surface-background-great-ds-blue;
    position: absolute;
    z-index: 999;
    top: 56px;
    right: 0;
    width: 100%;

    @include govuk-media-query($from: desktop) {
        width: 340px;
    }
}

ul.great-ds-header__menu-list {
    padding: $great-ds-spacing-6;
}

.great-ds-header__menu-item {
    padding: $great-ds-spacing-2 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    &:last-child {
        border-bottom: none;
    }

    &:first-child {
        padding-top: 0;
    }
}

.great-ds-header__subnav {
    background-color: $great-ds-semantic-surface-background-great-ds-blue;

    .great-ds-header--international & {
        font-family: $great-ds-type-family-great-ds-international;
    }
}

.great-ds-header__subnav-container {
    display: none;

    @include govuk-media-query($from: 1240px) {
        display: flex;
    }

    align-items: center;
    justify-content: flex-end;
    padding-top: $great-ds-spacing-3;
    padding-bottom: $great-ds-spacing-3;
}

.great-ds-header__subnav-list {
    display: inline-flex;
}

.great-ds-header__subnav-item:not(:last-child) {
    padding: 0 $great-ds-spacing-6-large 0 0;
}

.great-ds-header__subnav-link,
.great-ds-header__submenu-link {
    color: $great-ds-semantic-text-default-white-text;

    &:hover, 
    &--current {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: .3em;
    }
}

.great-ds-header__submenu-list {
    font-family: $great-ds-type-family-great-ds-international;
}

.great-ds-header__submenu-item {
    margin: $great-ds-spacing-6 0 $great-ds-spacing-6 $great-ds-spacing-6;
}
