---
eleventyNavigation:
  key: Guidance
---
{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Guidance{% endblock %}

{% block content %}
    <section>
        <h2 class="govuk-heading-l">Guidance</h2>
        <p>Here's some guidance</p>
    </section>
{% endblock %}
