---
navTitle: "Guidance"
---
{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Guidance{% endblock %}

{% block content %}
    <section>
        <h1>Great Design System Guidance</h1>
        <p>Here's some guidance</p>
    </section>
{% endblock %}
