---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Tile
  parent: Components
  title: Tile
---
{% markdown %}
# Tile

{% endmarkdown %}

{% exampleWithCode "/components/tile/tile-example/", "tile-example", "100%", "800px" %}
