$great-semantic-text-default-white-text: $great-primitive-interface-mono-0;
$great-semantic-text-default-text: $great-primitive-interface-mono-100;
$great-semantic-text-default-secondary-text: $great-primitive-interface-mono-80;
$great-semantic-text-default-error-text: $great-primitive-interface-red-50;
$great-semantic-text-default-link-visited: $great-primitive-interface-purple-50;
$great-semantic-text-default-link: $great-primitive-interface-blue-50;
$great-semantic-text-default-primary-button-label: $great-primitive-interface-mono-0;
$great-semantic-text-default-secondary-button-label: $great-primitive-interface-blue-50;
$great-semantic-text-default-cta-button-label: $great-primitive-brand-great-blue;
$great-semantic-text-default-error-button-label: $great-primitive-interface-mono-0;
$great-semantic-text-default-success-button-label: $great-primitive-interface-mono-0;
$great-semantic-text-default-tag-error: $great-primitive-interface-red-50;
$great-semantic-text-default-tag-success: $great-primitive-interface-green-50;
$great-semantic-text-default-tag-neutral: $great-primitive-interface-mono-80;
$great-semantic-text-default-tag-information: $great-primitive-interface-blue-50;
$great-semantic-text-default-tag-warning: $great-primitive-interface-brown-50;
$great-semantic-text-hover-link-hover: $great-primitive-interface-blue-60;
$great-semantic-text-hover-error-text-hover: $great-primitive-interface-red-60;
$great-semantic-text-hover-primary-button-label-hover: $great-primitive-interface-mono-0;
$great-semantic-text-hover-secondary-button-label-hover: $great-primitive-interface-blue-60;
$great-semantic-text-hover-cta-button-label-hover: $great-primitive-interface-blue-50;
$great-semantic-text-hover-error-button-label-hover: $great-primitive-interface-mono-0;
$great-semantic-text-hover-success-button-label-hover: $great-primitive-interface-mono-0;
$great-semantic-text-focus-button-label-focus: $great-primitive-interface-mono-100;
$great-semantic-text-focus-link-focus: $great-primitive-interface-mono-100;
