{% macro greatSummaryListLink(action, cardTitle) %}
  <a class="govuk-link {% if action.classes %}{{ action.classes }}{% endif %}" href="{{ action.href }}">
    {% if action.html %}
      {{ action.html | safe }}
    {% else %}
      {{ action.text }}
    {% endif %}
    {% if action.visuallyHiddenText or cardTitle %}
      <span class="govuk-visually-hidden">
        {% if action.visuallyHiddenText %}
          {{ action.visuallyHiddenText }}
        {% endif %}
        {% if cardTitle %}
          {% if cardTitle.html %}{{ cardTitle.html | safe }}{% else %}{{ cardTitle.text }}{% endif %}
        {% endif %}
      </span>
    {% endif %}
  </a>
{% endmacro %}
