---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Form textarea
  parent: Components
  title: Form textarea
isGovUk: true
---
{% markdown %}
# Form textarea
{% endmarkdown %}

{% exampleWithCode "/components/form-textarea/form-textarea-example/", "form-textarea-example", "100%", "250px" %}
