---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Warning text
  parent: Components
  title: Warning text
isGovUk: true
---
{% markdown %}
# Warning text
{% endmarkdown %}

{% exampleWithCode "/components/warning-text/warning-text-example/", "warning-text-example", "100%", "100%" %}

{% exampleWithCode "/components/warning-text/warning-text-inverted-example/", "warning-text-inverted-example", "100%", "100%" %}
