{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/warning-text/_warning-text.njk" import greatWarningText %}

{{ greatWarningText(
    iconFallbackText="Warning",
    text="This site will be under maintenance from 1pm on DD Month YYYY for 24 hours."
) }}
{% endblock %}

