{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/pagination/_paged_pagination.njk" import greatPagedPagination %}
    {{ greatPagedPagination(
        previousPageTitle='Applying for a provisional lorry or bus licence',
        previousPageLink='#',
        nextPageTitle='Driver CPC part 1 test: theory',
        nextPageLink='#',
        hoverClass='great-ds-pagination__hover--white'
    ) }}
{% endblock %}
