{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/pagination/_numbered_pagination.njk" import greatNumberedPagination %}

    {{greatNumberedPagination(
        currentPage=7,
        totalPagesRange=range(1,10+1),
        hoverClass='great-ds-pagination__hover--white'
    ) }}
{% endblock %}
