{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/pagination/_numbered_pagination.njk" import greatNumberedPagination %}
    {{ greatNumberedPagination(
        currentPageNumber=3,
        elidedPageRange=[1,2,3,4,5],
        elidedPageStr='...',
        pageParamName='page',
        previousPageNumber=2,
        nextPageNumber=4,
        lastPageNumber=5,
        currentPageURL='http://localhost:8080/components/pagination/?'
    ) }}
{% endblock %}