{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/pagination/_numbered_pagination.njk" import greatNumberedPagination %}
    {{ greatNumberedPagination(
        currentPageNumber=7,
        elidedPageRange=[1, '…', 6, 7, 8, '…', 11],
        elidedPageStr='...',
        pageParamName='page',
        previousPageNumber=6,
        nextPageNumber=8,
        lastPageNumber=11,
        currentPageURL='http://localhost:8080/components/pagination/?'
    ) }}
{% endblock %}
