$great-button-padding-bottom-active: 12px;
$great-button-padding-left-right: $great-spacing-fixed-spacing-4;
$great-button-padding-inline-padding-top: 6px;
$great-button-padding-inline-padding-bottom: 9px;
$great-button-padding-inline-active-padding-bottom: 7px;
$great-button-padding-inline-padding-left-right: $great-spacing-3;
$great-button-colour-transactional-text-colour: $great-colour-interface-white;
$great-button-colour-transactional-border-hover: $great-colour-interface-success-shadow;
$great-button-colour-cta-background: $great-colour-interface-white;
$great-button-colour-cta-border: $great-colour-great-blue;
$great-button-colour-cta-border-hover: $great-colour-interface-link-blue;
$great-button-colour-cta-text-colour: $great-colour-great-blue;
$great-button-colour-cta-text-hover: $great-colour-interface-link-blue;
