$great-button-colour-primary-background: $great-colour-interface-link-blue;
$great-button-colour-primary-border: $great-colour-interface-link-hover;
$great-button-colour-primary-text-colour: $great-colour-interface-white;
$great-button-colour-primary-background-hover: $great-colour-interface-link-hover;
$great-button-colour-primary-border-hover: $great-colour-interface-link-hover-shadow;
$great-button-colour-secondary-background: $great-colour-interface-white;
$great-button-colour-secondary-border: $great-colour-interface-link-blue;
$great-button-colour-secondary-text-colour: $great-colour-interface-link-blue;
$great-button-colour-secondary-border-hover: $great-colour-interface-link-hover;
$great-button-colour-secondary-text-hover: $great-colour-interface-link-hover;
$great-button-colour-focus-background: $great-colour-interface-focus;
$great-button-colour-focus-border: $great-colour-interface-black;
$great-button-colour-focus-text: $great-colour-interface-black;
$great-button-padding-top: 11px;
$great-button-padding-bottom: 14px;
$great-button-padding-bottom-active: 12px;
$great-button-padding-left-right: $great-spacing-4;
$great-button-padding-inline-padding-top: 6px;
$great-button-padding-inline-padding-bottom: 9px;
$great-button-padding-inline-active-padding-bottom: 7px;
$great-button-padding-inline-padding-left-right: $great-spacing-3;
$great-button-colour-warning-background: $great-colour-interface-error;
$great-button-colour-warning-border: $great-colour-interface-error-hover;
$great-button-colour-warning-text-colour: $great-colour-interface-white;
$great-button-colour-warning-border-hover: $great-colour-interface-error-hover-shadow;
$great-button-colour-warning-hover: $great-colour-interface-error-hover;
$great-button-colour-transactional-background: $great-colour-interface-success;
$great-button-colour-transactional-background-hover: $great-colour-interface-success-hover;
$great-button-colour-transactional-text-colour: $great-colour-interface-white;
$great-button-colour-transactional-border-hover: $great-colour-interface-success-shadow;
$great-button-colour-transactional-border: $great-colour-interface-success-hover;
$great-button-colour-cta-background: $great-colour-interface-white;
$great-button-colour-cta-border: $great-colour-great-blue;
$great-button-colour-cta-border-hover: $great-colour-interface-link-blue;
$great-button-colour-cta-text-colour: $great-colour-great-blue;
$great-button-colour-cta-text-hover: $great-colour-interface-link-blue;