$great-tag-info-background: #dbeeffff;
$great-tag-info-text: $great-colour-dbt-light-blue;
$great-tag-neutral-background: #eceeefff;
$great-tag-neutral-text: $great-colour-interface-dark-grey;
$great-tag-success-background: #dbffeeff;
$great-tag-success-text: $great-colour-interface-success;
$great-tag-error-background: #fbe3dfff;
$great-tag-error-text: $great-colour-dbt-red;
$great-tag-warning-background: #fbfdddff;
$great-tag-warning-text: #a34500ff;
