{% macro greatErrorSummaryDjango(errors, disable_auto_focus, title, description) %}

<div class="govuk-error-summary {% if errors.classes %} {{ errors.classes }} {% if not errors %}great-hidden{% endif %}{% endif %}"
  {% if disable_auto_focus %}data-disable-auto-focus="{{ disable_auto_focus }}"{% endif %}
  data-module="govuk-error-summary">
  <div role="alert">
    {% if title %}
    <h2 class="govuk-error-summary__title">
      {{title}}
    </h2>
    {% endif %}
    <div class="govuk-error-summary__body">
      {% if description %}
        <p>
          {{description}}
        </p>
      {% endif %}
      <ul class="govuk-list govuk-error-summary__list">
        {% for field, error in errors %}
        <li>
          <a href="#id_{{field}}">
            {{error}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
