{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/responsive-image/_responsive-image.njk" import greatResponsiveImage %}

{{ greatResponsiveImage(
    image_src = '/static/images/lte-signup-promo-landscape.png',
    xs_image_src = '/static/images/lte-signup-promo-landscape.png',
    s_image_src = '/static/images/lte-signup-promo-landscape.png',
    m_image_src = '/static/images/lte-signup-promo-portrait.png',
    l_image_src = '/static/images/lte-signup-promo-portrait.png',
    xl_image_src = '/static/images/lte-signup-promo-landscape.png',
    alt_text = 'Lady with pancakes'
) }}
{% endblock %}
