{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/checkboxes/_checkboxes.njk" import greatCheckboxes %}
    {{ greatCheckboxes(
        checkboxesId = 'countries',
        checkboxQuestion = 'Will you be travelling to any of these countries?',
        useSmall='true',
        hint = {
            text: 'Select all countries that apply'
        },
        checkboxes = [{
            value: 'France',
            id: 'france',
            label: {
                    text: 'France'
                }
            },
            {
                id: 'italy',
                value: 'Italy',
                label: {
                    text: 'Italy'
                }
            },
            {
                value: 'Belgium',
                label: {
                    text: 'Belgium'
                }
            }
            ]
        ) }}

{% endblock %}