{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/checkboxes/_checkboxes.njk" import greatCheckboxes %}
    {{ greatCheckboxes(
        checkboxesId = 'countries',
        checkboxQuestion = 'Will you be travelling to any of these countries?',
        hint = {
            text: 'Select all countries that apply'
        },
        errorMessage = {
                    text: 'You must select a country, or \'None of the above\''
        }, 
        useSmall = '',
        checkboxes = [
            {
                value: 'France',
                id: 'france',
                checked: 'true',
                label: {
                    text: 'France',
                    classes: 'test_labelclass'
                    }
                },
            {
                id: 'italy',
                value: 'Italy',
                label: {
                    text: 'Italy'
                }
            },
            {   
                value: 'Belgium',
                label: {
                    text: 'Belgium'
                }
            },
            {   
                exclusive: 'true',
                value: 'None of the above',
                checked: 'true',
                label: {
                    text: 'None of the above'
                }
            }
            ]
        ) }}

{% endblock %}