{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/checkboxes/_checkboxes.njk" import greatCheckboxes %}
    {{ greatCheckboxes(
        checkboxesName = 'countries',
        checkboxQuestion = 'Will you be travelling to any of these countries?',
        hint = {
            text: 'Select all countries that apply'
        },
        size = '',
        checkboxes = [{
            value: 'France',
            id: 'francia',
            label: {
                    text: 'France',
                    classes: 'test_labelclass'
                }
            },
            {
                id: 'italia',
                value: 'Italy',
                label: {
                    text: 'Italy'
                }
            },
            {   
                exclusive: 'true',
                value: 'Belgium',
                label: {
                    text: 'Belgium'
                }
            }
            ]
        ) }}

{% endblock %}