---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Checkboxes
  parent: Components
  title: Checkboxes
isGovUk: true
---
{% markdown %}
# Checkboxes



Default:
{% endmarkdown %}
{% exampleWithCode "/components/checkboxes/checkboxes-example/", "checkboxes", "100%", "200px" %}
{% markdown %}


Conditional:
{% endmarkdown %}
{% exampleWithCode "/components/checkboxes/checkboxes-conditional-example/", "checkboxes", "100%", "200px" %}
{% markdown %}


Exclusive:
{% endmarkdown %}
{% exampleWithCode "/components/checkboxes/checkboxes-exclusive-example/", "checkboxes", "100%", "200px" %}

{% markdown %}

Small:
{% endmarkdown %}
{% exampleWithCode "/components/checkboxes/checkboxes-small-example/", "checkboxes", "100%", "200px" %}

{% markdown %}
## When to use 


## When not to use 


## How it works 

{% endmarkdown %}