---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Checkboxes
  parent: Components
  title: Checkboxes
isGovUk: true
---
{% markdown %}
# Checkboxes


{% endmarkdown %}

{% exampleWithCode "/components/checkboxes/checkboxes-exclusive-example/", "checkboxes", "100%", "200px" %}

{% markdown %}
## When to use 


## When not to use 


## How it works 

{% endmarkdown %}




