{% macro greatFooter(params) %}
    <footer id="footer"
        dir="ltr"
        data-ga-section="footer"
        class="great-footer">
        <div class="great-footer__container {% if params.isInternational %}great-footer__container--international{% endif %}">
            {% if params.isInternational %}
                <div alt="Expand your business in the UK, start of service"  class="great-footer__great-logo-container">
                    {% include "./_footer-great-logo.njk" %}
                </div>
            {% endif %}
            <div class="great-container">
                <ul class="great-footer__link-list {% if params.isInternational %}great-footer__link-list--international{% endif %}">
                    {% for link in params.footerLinks %}     
                        <li class="great-footer__link-list-item {% if params.isInternational %}great-footer__link-list-item--international{% endif %}">
                            <a href="{{ link.href }}"
                            title="{{ link.title }}"
                            {% if link.target %} target="{{ link.target }}" {% endif %}
                            {% if link.rel %} rel="{{ link.rel }}" {% endif %} >
                            {{ link.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="great-footer__copyright-container">
            <div class="great-container">
                {% include "./_footer-dbt-logo.njk" %}
                <p class="great-footer__copyright{% if params.isInternational %} great-footer__copyright--international {% endif %}">© Crown copyright {{ params.currentYear }}. All rights reserved.</p>
            </div>
    </div>
    </footer>
{% endmacro %}