.great-footer {
  background-color: $great-semantic-surface-background-great-blue;
}

.great-footer__container {
  justify-content: center;
  display: flex;
  padding: 0 15px;

  @include govuk-media-query ($from: 1025px) {
    padding: 0 30px;
  }
}

.great-footer__container--international {
  align-items: flex-end;
  padding-top: 40px;
  flex-direction: column;

  @include govuk-media-query ($from: 640px) {
    flex-direction: row;
  }

  > div {
    margin-right: 15px;
    margin-bottom: 50px;
    margin-left: 15px; 
  }
}

.great-footer__link-list {
  margin: 115px $great-spacing-4-large 52px $great-spacing-4-large;
  padding-inline-start: 0px;
  max-width: 1230px;
  display: inline-flex;
  gap: $great-spacing-4-large;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: column;

  @media only screen and (min-width: 640px) {
    flex-direction: row;
    margin: 80px 0px $great-spacing-6-large;
  }

  > li a {
    font-family: $great-type-family-great;
    font-size: $great-type-size-body;
    color: $great-semantic-surface-background-white;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
  }
}

.great-footer__link-list--international {
  flex-direction: row;
  margin: 0;

  > li a {
    font-family: $great-type-family-great-international;
  }
}

.great-footer__copyright-container {
  background-color: $great-semantic-surface-background-white;
  display: flex;
  justify-content: center;
  div {
    width: 100%;
    display: inline-flex;
    padding: $great-spacing-4-large;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1230px;
    gap: $great-spacing-4-large;

    @media only screen and (min-width: 640px) {
      padding: $great-spacing-4-large $great-spacing-6-large;
      flex-direction: row;
      align-items: center;
    }

    @media only screen and (min-width: (1290px + ($great-spacing-6-large * 2) )) {
      padding: 40px 0 $great-spacing-4-large 0;
    }

    @media only screen and (min-width: calc(1230px + (2 * $great-spacing-6-large))) {
      padding: $great-spacing-4-large 0;
    }
  }
}

.great-footer__copyright {
  font-size: $great-type-size-body-small;
  padding-top: 3px;
  margin: 0;

  @media only screen and (min-width: 640px) {
    font-size: $great-type-size-body;
  }
}

.great-footer__copyright--international {
  font-family: $great-type-family-great-international;
}

.great-footer__dbt-logo {
  height: 30px;
  min-width: 270px;
}

.great-footer__great-logo-container {
  position: relative;
  display: flex;
  align-items: start;
  height: 114px;
  min-width: 260px;
  background-color: $great-semantic-surface-background-great-red;
  margin-top: 10px;
  align-items: center;
}

.great-footer__great-logo-image {
  min-width: 230px;
  height: 86px;
  margin-top: 10px;
  margin: auto;
}

