{% from "../button/_button.njk" import greatButton %}
{% from "../input/_input.njk" import greatInput %}
{% from "../error-message/_error-message.njk" import greatErrorMessage %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}

{% macro greatPasswordInput(id, name, classes, formGroup, label, hint, errorMessage, value, disabled, attributes, showPasswordText, hidePasswordText, showPasswordAriaLabelText, hidePasswordAriaLabelText, passwordShownAnnouncementText, passwordHiddenAnnouncementText, button, autocomplete) %}
  <div class="govuk-form-group govuk-password-input{% if errorMessage %} govuk-form-group--error{% endif %}{% if formGroup.classes %} {{ formGroup.classes }}{% endif %}"
    data-module="govuk-password-input"
    {% if showPasswordText %}data-show-password-text="{{ showPasswordText }}"{% endif %}
    {% if hidePasswordText %}data-hide-password-text="{{ hidePasswordText }}"{% endif %}
    {% if showPasswordAriaLabelText %}data-show-password-aria-label-text="{{ showPasswordAriaLabelText }}"{% endif %}
    {% if hidePasswordAriaLabelText %}data-hide-password-aria-label-text="{{ hidePasswordAriaLabelText }}"{% endif %}
    {% if passwordShownAnnouncementText %}data-password-shown-announcement-text="{{ passwordShownAnnouncementText }}"{% endif %}
    {% if passwordHiddenAnnouncementText %}data-password-hidden-announcement-text="{{ passwordHiddenAnnouncementText }}"{% endif %}
  >
    {% if label %}
      {{ greatLabel(
        text=label.text,
        html=label.html,
        classes=label.classes,
        for=id,
        isPageHeading=label.isPageHeading
      ) }}
    {% endif %}

    {% if hint %}
      {{ greatHint(
        id=id + '-hint',
        classes=hint.classes,
        html=hint.html,
        text=hint.text
      ) }}
    {% endif %}

    {% if errorMessage %}
      {{ greatErrorMessage(
        id=id + '-error',
        classes=errorMessage.classes,
        visuallyHiddenText=errorMessage.visuallyHiddenText,
        html=errorMessage.html,
        text=errorMessage.text
      ) }}
    {% endif %}

    <div class="govuk-input__wrapper govuk-password-input__wrapper">
      {{ greatInput(
        id=id,
        name=name,
        type="password",
        classes="govuk-password-input__input govuk-js-password-input-input",
        spellcheck=false,
        autocapitalize="none",
        autocomplete=autocomplete,
        value=value,
        disabled=disabled,
        attributes=attributes,
        noFormGroup=true
      ) }}

      {{ greatButton(
        type="button",
        classes="great-ds-button--secondary great-ds-button--inline great-ds-button--input-group govuk-password-input__toggle govuk-js-password-input-toggle",
        text=showPasswordText,
        attributes={
          "aria-controls": id,
          "aria-label": showPasswordAriaLabelText,
          "hidden": true
        }
      ) }}
    </div>
  </div>
{% endmacro %}