{% macro greatInsetText(label, insetText, html, labelSmall, labelLevel, classes, id) %}
<div class="govuk-inset-text {{ classes }}"{% if id %} id="{{ id }}"{% endif %}>
    {% if label %}
        <h{% if labelLevel %}{{ labelLevel }}{% else %}3{% endif %} class="govuk-heading-{% if labelSmall %}s{% else %}m{% endif %} govuk-!-margin-bottom-2">{{ label }}</h2>
    {% endif %}
    {% if html %}
        {{ html | safe }}
    {% else %}
        <p>{{ insetText }}</p>
    {% endif %}
</div>
{% endmacro %}
