.great-ds-inset-text {
    margin-top: $great-ds-spacing-6;
    margin-bottom: $great-ds-spacing-6;
 
    p {
        margin: 0 0 $great-ds-spacing-1;
        &:last-child {
            margin: 0 ;
        }
    }
}