---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Select
  parent: Components
  title: Select
isGovUk: true
---
{% markdown %}
# Select
{% endmarkdown %}

{% exampleWithCode "/components/select/select-example/", "select-example", "100%", "100%" %}
