{% extends "layout/_example.njk" %}

{% from "../../../components/footer/_footer.njk" import greatFooter %}

{% block content %}
    {{ greatFooter({ 
        currentYear: '2024',
        urls: {
            contact: '/contact/',
            dit_on_govuk: '/',
            privacy: '/',
            cookies: '/',
            terms_and_conditions: '/',
            accessibility_statement: '/',
            performance_dashboard: '/',
            campaign_site_page: '',
            international: '/international/',
            get_help_with_account: 'contact/triage/great-account',
            export_support: export-support
        }
    }) 
    }}
{% endblock %}
