---
eleventyNavigation:
  key: Footer
  parent: Components
  title: Footer
---
{% extends "layout/_page.njk" %}

{% block content %}
    <p class="govuk-body">Here is a domestic footer example.</p>
    {% exampleWithCode "/components/footer/footer-example/", "footer-example", "100%", "300px" %}
    <p class="govuk-body">Here is an international footer example.</p>
    {% exampleWithCode "/components/footer/footer-international-example/", "footer-international-example", "100%", "300px" %}
{% endblock %}

