---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Footer
  parent: Components
  title: Footer
status: Live
---
{% markdown %}
# Footer

Here is a domestic footer example.
{% endmarkdown %}

{% exampleWithCode "/components/footer/footer-example/", "footer-example", "100%", "300px" %}

{% markdown %}
Here is an international footer example.
{% endmarkdown %}

{% exampleWithCode "/components/footer/footer-international-example/", "footer-international-example", "100%", "300px" %}

