---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Form components
  parent: Components
  title: Form components
isGovUk: true
---
{% markdown %}
# Components
{% endmarkdown %}


{% markdown %}
Text input
{% endmarkdown %}
{% exampleWithCode "/components/forms/text-input-example/", "text-input-example", "100%", "100%" %}
{% markdown %}
Textarea
{% endmarkdown %}
{% exampleWithCode "/components/forms/textarea-example/", "textarea-example", "100%", "100%" %}
{% markdown %}
Basic Radio
{% endmarkdown %}
{% exampleWithCode "/components/forms/radio-example/", "radio-example", "100%", "100%" %}
{% markdown %}
Radio with conditional reveal
{% endmarkdown %}
{% exampleWithCode "/components/forms/radio-conditional-reveal-example/", "radio-conditional-reveal-example", "100%", "100%" %}
{% markdown %}
Select
{% endmarkdown %}
{% exampleWithCode "/components/forms/select-example/", "select-example", "100%", "100%" %}
