{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/forms/__form.njk" import greatForm %}

    {{ greatForm(
        fields=[[
                {
                    use_fieldset: false,
                    css_classes: 'govuk-form-group',
                    label: 'Radio example',
                    label_tag: '<label class="govuk-label" for="example">Radio example</label>',
                    help_text: 'This is a hint',
                    help_text_css_classes: 'govuk-hint',
                    field: {
                        widget: {
                            name: 'example',
                            value: 'Example',
                            template_name: '_multiple_input.njk',
                            attrs: {
                                class: ''
                            },
                            optgroups: [
                                [
                                    none, 
                                    [
                                        {
                                            name: 'contactable',
                                            value: 'no',
                                            label: 'No',
                                            selected: false,
                                            index: '0',
                                            attrs: {
                                                id: 'id_contactable_0'
                                            },
                                            type: none,
                                            template_name: '_radio_option_conditional_reveal.html',
                                            wrap_label: true,
                                            help_text: '',
                                            help_text_css: ''
                                        }
                                    ],
                                    0
                                ],
                                [
                                    none,
                                    [
                                        {
                                            name: 'contactable',
                                            value: 'yes',
                                            label: 'Yes',
                                            selected: false,
                                            index: '1',
                                            attrs: {
                                                id: 'id_contactable_1'
                                            },
                                            type: none,
                                            template_name: '_radio_option_conditional_reveal.html',
                                            wrap_label: true,
                                            help_text: '',
                                            help_text_css: ''
                                        }
                                    ],
                                    1
                                ]
                            ]
                        },
                        linked_conditional_reveal: false
                    }
                },
                []
        ]]
    ) }}

{% endblock %}