{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/forms/__form.njk" import greatForm %}

    {{ greatForm(
        fields=[[
                {
                    use_fieldset: false,
                    css_classes: 'govuk-form-group',
                    label: 'Textarea example',
                    label_tag: '<label class="govuk-label" for="example">Textarea example</label>',
                    help_text: 'This is a hint',
                    help_text_css_classes: 'govuk-hint',
                    field: {
                        widget: {
                            name: 'example',
                            type: 'text',
                            value: 'Example',
                            template_name: '_textarea.njk',
                            attrs: {
                                rows: 10,
                                cols: 15,
                                class: ''
                            }
                        },
                        linked_conditional_reveal: false
                    }
                },
                []
        ]]
    ) }}

{% endblock %}