{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/phase_banner/_phase_banner.njk" import greatPhaseBanner %}

{{ greatPhaseBanner(
    html="This is a prototype. Content and functionality may be subject to change.",
    tagText="Prototype",
    tagType="error"
) }}
{% endblock %}
