{% macro greatBreadcrumbs(params) %}
<div class="govuk-breadcrumbs {{ params.classes }}{% if params.collapseOnMobile %} govuk-breadcrumbs--collapse-on-mobile{% endif %}">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{ params.homeURL }}">Home</a>
        </li>
        {% for item in params.itemsList %}
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ item.url }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ol>
</div>
{% endmacro %}
