{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/cta_banner/_cta_banner.njk" import greatCtaBanner %}

{{ greatCtaBanner(
    headingText = 'Accelerate your learning',
    signInLink = { href: '#', preLinkText: 'Already signed up?', linkText: 'Sign in'},
    signUpLink = { href: '#', linkText: 'Sign up to get started'},
    actionLinkClass = 'great-ds-action-link--white',
    backgroundClass = 'great-ds-cta-banner--bg-dark-blue'
) }}
{% endblock %}
