{% extends "layout/_base.njk" %}
{% block title %}Great Design System - CTA Banner{% endblock %}

{% block content %}
    <p class="govuk-body">Here is a CTA Banner example.</p>
    <p class="govuk-body">Uses our own design.</p>
    {% exampleIframe "/components/cta_banner/cta_banner-example/", "100%", "300px"  %}
{% endblock %}
