{% extends "layout/_example.njk" %}
{% from "../../../components/button/_button.njk" import greatButton %}

{% block content %}
    {{ greatButton(text="Get started", href="#", classes="great-button--cta", cta=true) }}
{% endblock %}
