{% extends "layout/_example.njk" %}
{% from "../../../components/button/_button.njk" import greatButton %}

{% block content %}
    {{ greatButton(text="Show", classes="great-button--toggle") }}
    {{ greatButton(text="Hide", classes="great-button--toggle") }}
{% endblock %}
