{% extends "layout/_example.njk" %}

{% block content %}
    {% set button1Data = { text: "Show", classes: "great-button--toggle" } %}
    {% set button2Data = { text: "Hide", classes: "great-button--toggle" } %}

    {{ "button" | component(button1Data) }}
    {{ "button" | component(button2Data) }}
{% endblock %}
