{% extends "layout/_example.njk" %}
{% block content %}
    {% from "../../../components/button/_button.njk" import greatButton %}

{{ greatButton(text="Complete", classes="great-ds-button--transactional") }}
{% endblock %}
