{% extends "layout/_example.njk" %}
{% from "../../../components/button/_button.njk" import greatButton %}

{% block content %}
    {{ greatButton(text="Cancel", classes="great-button--secondary") }}
{% endblock %}
