{% extends "layout/_example.njk" %}

{% block content %}
    {% set buttonData = { text: "Complete", classes: "great-button--transactional" } %}

    {{ "button" | component(buttonData) }}
{% endblock %}
