{% extends "layout/_example.njk" %}
{% from "../../../components/button/_button.njk" import greatButton %}

{% block content %}
    {{ greatButton(text="Save and continue", classes="great-ds-button--inline") }}
    {{ greatButton(text="Cancel", classes="great-ds-button--secondary great-ds-button--inline") }}
{% endblock %}
