{% extends "layout/_example.njk" %}

{% block content %}
    {% set buttonData = { text: "Get started", href: "#", classes: "great-button--cta", cta: true } %}

    {{ "button" | component(buttonData) }}
{% endblock %}
