---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Button
  parent: Components
  title: Button
---
{% markdown %}
# Button

Primary button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-example/", "button", "100%", "80px" %}

{% markdown %}
Secondary button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-secondary-example/", "button", "100%", "80px" %}

{% markdown %}
Warning button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-warning-example/", "button", "100%", "80px" %}

{% markdown %}
Transactional button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-transactional-example/", "button", "100%", "80px" %}

{% markdown %}
CTA button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-cta-example/", "button", "100%", "80px" %}

{% markdown %}
Inline button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-inline-example/", "button", "100%", "80px" %}

{% markdown %}
Toggle button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-toggle-example/", "button", "100%", "80px" %}

{% markdown %}
Icon button example
{% endmarkdown %}

{% exampleWithCode "/components/button/button-icon-example/", "button", "100%", "80px" %}
