---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Character count
  parent: Components
  title: Character count
isGovUk: true
---
{% markdown %}
# Text input

The text input component is used to allow users to enter text. 
{% endmarkdown %}

{% exampleWithCode "/components/character-count/character-count-example/", "character-count", "100%", "350px" %}
