$great-colour-interface-link-blue: #1d70b8ff;
$great-colour-interface-link-hover: #003078ff;
$great-colour-interface-link-hover-shadow: #00081fff;
$great-colour-interface-black: #222222ff;
$great-colour-interface-mid-grey: #7d8e96ff;
$great-colour-interface-error: #d4351cff;
$great-colour-interface-error-hover: #8a1200ff;
$great-colour-interface-error-hover-shadow: #4d0a00ff;
$great-colour-interface-success: #00703cff;
$great-colour-interface-success-hover: #005a30ff;
$great-colour-interface-success-shadow: #00422aff;
$great-colour-dbt-light-blue: #0063beff;
$great-colour-interface-dark-grey: #505a5fff;
$great-colour-dbt-red: #cf102dff;
$great-colour-dbt-blue: #00285fff;
$great-colour-dbt-green: #004d44ff;
$great-colour-dbt-violet: #4814a0ff;
$great-colour-dbt-orange: #e24912ff;
$great-colour-dbt-berry: #a90083ff;
$great-colour-great-red: #e80000ff;
$great-colour-great-mid-grey: #d6e0e5ff;
$great-colour-great-light-grey: #dde5edff;
$great-colour-great-dark-green: #004f59ff;
$great-colour-great-light-green: #8ce2d0ff;
$great-colour-great-vibrant-blue: #0545d6ff;
$great-colour-great-light-blue: #59cbe8ff;
$great-colour-great-dark-red: #b50000ff;
$great-colour-great-light-red: #ff6d6aff;
$great-colour-miuk-light-grey: #dde5edff;
$great-colour-miuk-mid-grey: #d6e0e5ff;
$great-colour-miuk-light-green: #8ce2d0ff;
$great-colour-miuk-mid-green: #0d8d98ff;
$great-colour-miuk-light-blue: #59cbe8ff;
$great-colour-miuk-mid-blue: #2397d4ff;
$great-colour-miuk-light-purple: #d291c3ff;
$great-colour-miuk-mid-purple: #a24a94ff;
$great-colour-miuk-light-red: #ff6d6aff;
$great-colour-miuk-mid-red: #e94f3dff;
$great-colour-interface-link-visited: #4c2c92ff;
$great-colour-interface-success-hover-shadow: #003320ff;
$great-colour-interface-secondary-text: $great-colour-interface-dark-grey;
$great-colour-interface-input-border: $great-colour-interface-black;
$great-colour-interface-icon: $great-colour-interface-black;
$great-colour-great-background-light-blue: #eef2f6ff;
