$great-spot-illustration-spot-illustration-large: 80px;
$great-spot-illustration-spot-illustration: 50px;
$great-spot-illustration-spot-illustration-small-large: 60px;
$great-spot-illustration-spot-illustration-small: 50px;
