$great-width-dimensions-viewport-width-large: 1440px;
$great-width-dimensions-viewport-width: 360px;
$great-width-dimensions-container-width-large: 1290px;
$great-width-dimensions-container-width: $great-width-dimensions-viewport-width;
$great-width-dimensions-two-thirds-column-width-large: 810px;
$great-width-dimensions-two-thirds-column-width: $great-width-dimensions-viewport-width;
$great-width-dimensions-one-third-column-width-large: 390px;
$great-width-dimensions-one-third-column-width: $great-width-dimensions-viewport-width;
$great-width-dimensions-one-quarter-column-width-large: 275px;
$great-width-dimensions-one-quarter-column-width: $great-width-dimensions-viewport-width;
$great-width-dimensions-one-half-column-width-large: 600px;
$great-width-dimensions-one-half-column-width: $great-width-dimensions-viewport-width;
$great-width-dimensions-container-side-padding-large: 30px;
$great-width-dimensions-container-side-padding: 15px;
$great-width-dimensions-text-input-fluid-full-large: $great-width-dimensions-two-thirds-column-width;
$great-width-dimensions-text-input-fluid-full: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fluid-three-quarters-large: 607.5px;
$great-width-dimensions-text-input-fluid-three-quarters: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fluid-one-half-large: 405px;
$great-width-dimensions-text-input-fluid-one-half: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fluid-one-quarter-large: 202.5px;
$great-width-dimensions-text-input-fluid-one-quarter: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fluid-two-thirds-large: 540px;
$great-width-dimensions-text-input-fluid-two-thirds: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fluid-one-third-large: 270px;
$great-width-dimensions-text-input-fluid-one-third: $great-width-dimensions-container-width;
$great-width-dimensions-text-input-fixed-two: 69px;
$great-width-dimensions-text-input-fixed-three: 94px;
$great-width-dimensions-text-input-fixed-four: 119px;
$great-width-dimensions-text-input-fixed-five: 144px;
$great-width-dimensions-text-input-fixed-ten: 269px;
$great-width-dimensions-text-input-fixed-twenty-large: 519px;
$great-width-dimensions-text-input-fixed-twenty: 330px;
