$colour-dbt-red: #cf102dff;
$colour-dbt-blue: #00285fff;
$colour-dbt-green: #004d44ff;
$colour-dbt-light-blue: #0063beff;
$colour-dbt-violet: #4814a0ff;
$colour-dbt-orange: #e24912ff;
$colour-dbt-berry: #a90083ff;
$colour-great-red: #e80000ff;
$colour-great-blue: #04043fff;
$colour-great-mid-grey: #d6e0e5ff;
$colour-great-light-grey: #dde5edff;
$colour-great-dark-green: #004f59ff;
$colour-great-light-green: #8ce2d0ff;
$colour-great-vibrant-blue: #0545d6ff;
$colour-great-light-blue: #59cbe8ff;
$colour-great-dark-red: #b50000ff;
$colour-great-light-red: #ff6d6aff;
$colour-miuk-light-grey: #dde5edff;
$colour-miuk-mid-grey: #d6e0e5ff;
$colour-miuk-light-green: #8ce2d0ff;
$colour-miuk-mid-green: #0d8d98ff;
$colour-miuk-light-blue: #59cbe8ff;
$colour-miuk-mid-blue: #2397d4ff;
$colour-miuk-light-purple: #d291c3ff;
$colour-miuk-mid-purple: #a24a94ff;
$colour-miuk-light-red: #ff6d6aff;
$colour-miuk-mid-red: #e94f3dff;
$colour-interface-link-blue: #1d70b8ff;
$colour-interface-link-hover: #003078ff;
$colour-interface-link-hover-shadow: #00081fff;
$colour-interface-link-visited: #4c2c92ff;
$colour-interface-focus: #ffdd00ff;
$colour-interface-error: #d4351cff;
$colour-interface-error-hover: #8a1200ff;
$colour-interface-error-hover-shadow: #4d0a00ff;
$colour-interface-success: #00703cff;
$colour-interface-success-hover: #005a30ff;
$colour-interface-success-shadow: #00422aff;
$colour-interface-success-hover-shadow: #003320ff;
$colour-interface-black: #222222ff;
$colour-interface-dark-grey: #505a5fff;
$colour-interface-mid-grey: #7d8e96ff;
$colour-interface-white: #ffffffff;
$colour-interface-highlight: #f1f77aff;
$colour-interface-text-black: $colour-interface-black;
$colour-interface-secondary-text: $colour-interface-dark-grey;
$colour-interface-gov-uk-black: #0b0c0cff;
$colour-interface-gov-uk-departmental-logo-red: #ce0e2dff;
$colour-interface-gov-uk-gov-logo-blue: #0055b8ff;
$colour-interface-input-border: $colour-interface-black;
$colour-interface-icon: $colour-interface-black;
$colour-great-background-light-blue: #eef2f6ff;
$colour-utilities-note-yellow-border: #f6e7b0ff;
$colour-utilities-note-yellow: #fcf0c5ff;
$colour-utilities-note-blue-border: #a2d0deff;
$colour-utilities-note-blue: #cfe9f1ff;
$colour-utilities-note-green-border: #b1d89dff;
$colour-utilities-note-green: #d4f0c6ff;
$button-colour-primary-background: $colour-interface-link-blue;
$button-colour-primary-border: $colour-interface-link-hover;
$button-colour-primary-text-colour: $colour-interface-white;
$button-colour-primary-background-hover: $colour-interface-link-hover;
$button-colour-primary-border-hover: $colour-interface-link-hover-shadow;
$button-colour-secondary-background: $colour-interface-white;
$button-colour-secondary-border: $colour-interface-link-blue;
$button-colour-secondary-text-colour: $colour-interface-link-blue;
$button-colour-secondary-border-hover: $colour-interface-link-hover;
$button-colour-secondary-text-hover: $colour-interface-link-hover;
$button-colour-focus-background: $colour-interface-focus;
$button-colour-focus-border: $colour-interface-black;
$button-colour-focus-text: $colour-interface-black;
$button-colour-warning-background: $colour-interface-error;
$button-colour-warning-border: $colour-interface-error-hover;
$button-colour-warning-text-colour: $colour-interface-white;
$button-colour-warning-border-hover: $colour-interface-error-hover-shadow;
$button-colour-warning-hover: $colour-interface-error-hover;
$button-colour-transactional-background: $colour-interface-success;
$button-colour-transactional-background-hover: $colour-interface-success-hover;
$button-colour-transactional-text-colour: $colour-interface-white;
$button-colour-transactional-border-hover: $colour-interface-success-shadow;
$button-colour-transactional-border: $colour-interface-success-hover;
$button-colour-cta-background: $colour-interface-white;
$button-colour-cta-border: $colour-great-blue;
$button-colour-cta-border-hover: $colour-interface-link-blue;
$button-colour-cta-text-colour: $colour-great-blue;
$button-colour-cta-text-hover: $colour-interface-link-blue;
$tag-info-background: #dbeeffff;
$tag-info-text: $colour-dbt-light-blue;
$tag-neutral-background: #eceeefff;
$tag-neutral-text: $colour-interface-dark-grey;
$tag-success-background: #dbffeeff;
$tag-success-text: $colour-interface-success;
$tag-error-background: #fbe3dfff;
$tag-error-text: $colour-dbt-red;
$tag-warning-background: #fbfdddff;
$tag-warning-text: #a34500ff;
