$icon-xxl: $type-size-heading-xl;
$icon-xl: $type-size-heading-l;
$icon-l: $type-size-heading-m;
$icon-m: $type-size-heading-s;
$icon-s: $type-size-heading-xs;
$icon-xs: $type-size-body;
$icon-body: 16px;
$spot-illustration-spot-illustration: 80px;
$spot-illustration-spot-illustration-small: 50px;
$spot-illustration-spot-illustration-small-small: 50px;
$viewport: "Desktop";
$viewport-small: "Mobile";
$border-thin: 1px;
$border-medium: 2px;
$border-thick: 5px;
$border-thickest: 10px;
$site: "domestic";
$site-international: "international";
$button-padding-top: 11px;
$forms-input-border: $colour-interface-black;
$button-padding-bottom: 14px;
$button-padding-bottom-active: 12px;
$button-padding-left-right: $spacing-4;
$button-padding-inline-padding-top: 6px;
$button-padding-inline-padding-bottom: 9px;
$button-padding-inline-active-padding-bottom: 7px;
$button-padding-inline-padding-left-right: $spacing-3;
$tab-border: $colour-interface-mid-grey;
