$great-spacing-4-large: 20px;
$great-spacing-4: 15px;
$great-spacing-3: 15px;
$great-spacing-0: 0px;
$great-spacing-1: 5px;
$great-spacing-2: 10px;
$great-spacing-5-large: 25px;
$great-spacing-5: 15px;
$great-spacing-6-large: 30px;
$great-spacing-6: 20px;
$great-spacing-7-large: 40px;
$great-spacing-7: 25px;
$great-spacing-8-large: 50px;
$great-spacing-8: 30px;
$great-spacing-9-large: 60px;
$great-spacing-9: 40px;
$great-spacing-gutter: $great-spacing-6;
$great-spacing-fixed-spacing-1: 5px;
$great-spacing-fixed-spacing-2: 10px;
$great-spacing-fixed-spacing-3: 15px;
$great-spacing-fixed-spacing-4: 20px;
$great-spacing-fixed-spacing-5: 25px;
$great-spacing-fixed-spacing-6: 30px;
$great-spacing-fixed-spacing-7: 40px;
$great-spacing-fixed-spacing-8: 50px;
$great-spacing-fixed-spacing-9: 60px;
