---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Textarea
  parent: Components
  title: Textarea
isGovUk: true
---
{% markdown %}
# Textarea
{% endmarkdown %}

{% exampleWithCode "/components/textarea/textarea-example/", "textarea-example", "100%", "250px" %}
