---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Form text input
  parent: Components
  title: Form text input
isGovUk: true
---
{% markdown %}
# Form text input

The text input component is used to allow users to enter text. 
{% endmarkdown %}

{% exampleWithCode "/components/form-text-input/form-text-input-example/", "form-text-input", "100%", "100%" %}

