{% extends "layout/_base.njk" %}
{% block title %}Great Design System - Responsive Image{% endblock %}

{% block content %}
    <p class="govuk-body">Here is a responsive image example.</p>
    <p class="govuk-body">Uses our own design.</p>
    {% exampleIframe "/components/responsive_image/responsive_image-example/", "100%", "300px"  %}
{% endblock %}
