---
eleventyNavigation:
  key: Responsive image
  parent: Components
  title: Responsive image
---
{% extends "layout/_page.njk" %}

{% block content %}
    <p class="govuk-body">Here is a responsive image example.</p>
    <p class="govuk-body">Uses our own design.</p>
    {% exampleWithCode "/components/responsive_image/responsive_image-example/", "responsive_image-example", "100%", "300px"  %}
{% endblock %}
