---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Checkboxes
  parent: Components
  title: Checkboxes
isGovUk: true
---
{% markdown %}

BGS AI Chat:
{% endmarkdown %}
{% exampleWithCode "/components/chat/chat-example/", "chat", "100%", "500px" %}

{% markdown %}

{% endmarkdown %}