{% from "../error-message/_error-message.njk" import greatErrorMessage %}
{% from "./_radio-item.njk" import radioItem %}
{% from "../fieldset/_fieldset-open.njk" import greatFieldsetOpen%}
{% from "../fieldset/_fieldset-close.njk" import greatFieldsetClose%}
{% from "../hint/_hint.njk" import greatHint %}

{% macro greatRadios(id,name,classes,fieldset,label,hint,describedBy,errorMessage,items,value,formGroupClasses,beforeInput, afterInput) %}
<div class="govuk-form-group {% if errorMessage %} govuk-form-group--error {% endif %}{% if formGroupClasses %} {{ formGroupClasses }}{% endif %}">
    {{
      greatFieldsetOpen(
        id=fieldset.id,
        name=fieldset.name,
        errorMessage=errorMessage,
        hint=hint,
        describedBy=describedBy,
        legend={'text' :fieldset.legend.text, 'isPageHeading':fieldset.legend.isPageHeading, 'classes':fieldset.legend.classes },
        classes=fieldset.classes
        )
    }}
    {% if hint %}
          {{ greatHint(
            id=id,
            classes='',
            html=hint.html,
            text=hint.text
          ) }}
    {% endif %}
  <div class="govuk-radios {%- if classes %} {{ classes }}{% endif %}"  id="{{ id }}" data-module="govuk-radios">
    {% if errorMessage %}
    {{ greatErrorMessage(
      id=errorMessage.id,
      classes=errorMessage.classes,
      visuallyHiddenText=errorMessage.visuallyHiddenText,
      html=errorMessage.html,
      text=errorMessage.text
    ) }}
    {% endif %}
    {% if beforeInput and beforeInput.html %}
      {{ beforeInput.html|safe }}
    {% elif beforeInput %}
      {{ beforeInput.text }}
    {% endif %}
    {% for item in items %}  
      {% if item %}
        {{ radioItem(name, item, loop.index) }}
      {% endif %}
    {% endfor %}
    {% if afterInput and afterInput.html %}
      {{ afterInput.html|safe }}
    {% elif afterInput %}
      {{ afterInput.text }}
    {% endif %}
  </div>
  {{
    greatFieldsetClose()
  }}
</div>
{% endmacro %}