---
layout: layout/_page.njk
content: main
eleventyNavigation:
  key: Share page
  parent: Components
  title: Share page
isGovUk: true
---
{% markdown %}
# Share page
{% endmarkdown %}

{% exampleWithCode "/components/share-page/share-page-example/", "share-page-example", "100%", "350px" %}
