{% extends "layout/_example.njk" %}

{% block content %}
  {% from "../../../components/share-page/_share-page.njk" import sharePage %}

  {{ sharePage(
    id="share-page-example",
    name="share-page-example",
    classes="",
    label={
      text: "Share this page"
    },
    button={
      id: "copy-link-button",
      text: "Copy link"
    }
  ) }}
{% endblock %}