{% extends "layout/_example.njk" %}

{% block content %}
    {% from "../../../components/radios/_radios.njk" import greatRadios %}
    {{ greatRadios(
        id="radiosElement",
        name="radiosElement",
        classes="",
        label="Make a selection",
        items=[
            {text: "Option 1",value: "option-1"},
            {text: "Option 2",value: "option-2"}
        ]
        ) }}
{% endblock %}