{% from "../widgets/_input.njk" import greatInputDjango %}
{% from "../widgets/_textarea.njk" import greatTextareaDjango %}
{% from "../widgets/__multiple_input.njk" import greatMultipleInput %}
{% from "../widgets/_select.njk" import greatSelectDjango %}
{% from "../widgets/_error.njk" import greatErrorDjango %}
{% from "../hint/_hint.njk" import greatHint %}
{% from "../label/_label.njk" import greatLabel %}


{% macro greatForm(fields) %}
{% for field, errors in fields %}
  {% if not field.field.linked_conditional_reveal %}
  <div id="{{field.field.widget}}-container"{% if field.css_classes %} class="{{ field.css_classes }}"{% endif %}>
    {% if field.use_fieldset %}
      <fieldset class="govuk-fieldset">
      {% if field.label %}{{ field.legend_tag }}{% endif %}
    {% else %}
    {% if field.label %}
    {{ greatLabel(
      text=field.label,
      for=field.field.widget.id_for_label
    ) }}
    {% endif %}
    {% endif %}

    {% if field.help_text %}
      {{ greatHint(
        html=field.help_text,
        classes=field.help_text_css_classes
      ) }}
    {% endif %}

    {% if errors != [] %}
      {{ greatErrorDjango(
        errors=errors
      ) }}
    {% endif %}

    {% if field.field.widget.template_name == '_input.njk' %}
      {{ greatInputDjango(
        widget=field.field.widget
      ) }}
    
    {% elif field.field.widget.template_name == '_textarea.njk' %}
    {{ greatTextareaDjango(
      widget=field.field.widget
    ) }}

    {% elif field.field.widget.template_name == '_multiple_input.njk' %}
    {{ greatMultipleInput(
      widget=field.field.widget
    ) }}

    {% elif field.field.widget.template_name == '_select.njk' %}
    {{ greatSelectDjango(
      widget=field.field.widget
    ) }}
    {% endif %}

    {% if field.use_fieldset %}</fieldset>{% endif %}
  </div>
  {% endif %}
{% endfor %}
{% endmacro %}
